[2017-03-13 12:37] nixpanic opened #2 "rpcgen should be used for generating code from the block.x file"
It seems that `rpcgen` was used to generate the code for some `.c` and `.h` files at one point. But, `rpcgen` is not called during the build process, so changing `block.x` will never result in updating the generated files.

[2017-03-13 12:41] pkalever commented on #2
cool @nixpanic

[2017-03-13 15:32] nixpanic commented on #2
Posted https://review.gluster.org/16897 for review

[2017-03-20 07:41] pkalever opened #3 "[RFC] gluster-block support json response"
gluster-block should respond in json foramt to applications who calls gluster-block cli with 'json' argumnet.

Sample output responses for each of the supported command should look like below,

### _Create response:_
[code]
### _List response:_
[code]
### _Info response:_
[code]
### _Delete Resposnse:_
[code]
Please comment your opinion on the syntax and schema.

[2017-03-20 11:00] #2 closed

[2017-03-22 16:28] pkalever commented on #3
Patch submitted for review https://review.gluster.org/#/c/16939/1

This patch supports json|json-spaced|json-plain|json-pretty cmd-args which can help gluster-block cli respond as follows:

**# create block 10GiB**
[code]

**# list available block devices**
[code]

**# block info**
[code]

**# block delete**
[code]

[2017-03-24 06:56] pkalever opened #4 "Support for add/remove/replace a node"
gluster-block cli should provide an option for adding, deleting and replacing an existing gateway.

[2017-03-24 07:01] pkalever opened #5 "Add support for node ACL's"
The current gluster-block model goes with noAUTH, i.e no authentication required for client to login to a target portal.
Hence Node ACL's support must be added.

[2017-03-24 07:09] pkalever opened #6 "Support for resizing the block device"
Currently we do create the requested size(pre-allocated file)  and the the size is kept constant though out the life of that block device.

We can have support for resizing (mostly increasing) a block device.

[2017-03-24 07:16] pkalever opened #7 "Add suppor for external gateways"
Currently we support creating exporting targets only from gluster peer nodes.

By supporting external gateways(exporting LUNS on nodes other than gluster nodes) as an option we can load balance/protest against the cpu strife (on gluster nodes)

[2017-03-24 07:44] humblec commented on #5
We need to enable CHAP authentication for both session and discovery in gluster block target.  That said, as per open iscsi [1], we can configure below parameters. Gluster block should be respecting CHAP authentication if its enabled.

[code]

[2017-03-30 12:29] pkalever opened #8 "gluster-blockd: send repective objects in response instead of string"
Currently for any request create/delete the response is sent after stringifying (to cli output format)

Its better that the representation of cli output be done in the CLI side, rather processing the responses in daemon logic.

[2017-03-30 15:07] pkalever opened #9 "single login per target"
Currently from the initiator side we need to login to mpath number of node to get multipathed block devices at the client side. This can be minimized to single login per target by configuring all gateways for a particular target in all gateways.

[2017-04-01 03:23] vbellur opened #10 "Block device creation in a non-existent/not started volume causes a silent failure"
Block device creation in  a non-existent/not started volume causes a silent failure:

#gluster-block create rep2/bd1 ha 3 10.16.153.48,10.16.153.51,10.16.153.54 100GiB
# echo $?
255

It would be necessary to display a graceful failure message upon not finding a volume in the CLI output.

[2017-04-04 11:30] pkalever commented on #10
Open for review:
https://review.gluster.org/#/c/16992/

[2017-04-09 16:01] vbellur opened #11 "Add support for replacing configured nodes during block device creation"
#gluster-block create <volume-name/device-name> ha <count> <host1>,<host2>,...<hostN> is the current CLI for creating a block device.

If any of the hosts 1..N are to be replaced, gluster-block would need to provide an interface to perform that operation.

[2017-04-09 16:04] vbellur opened #12 "Authentication for block devices"
There is no good way to authenticate initiators logging into block devices with v0.1.1.1. It would be good to add username/password and other forms of authentication for block devices in gluster-block.

[2017-04-10 03:00] vbellur commented on #11
Notes from an early discussion between @pranithk and @pkalever:

Granularity:

Since all the block operations (create/delete/list/info) are volume dependent, we intend supporting the migration functionality at the granularity of a volume. For replacing  a node all volumes that are part of the node would need to be migrated. Providing migration at the granularity of a volume can be helpful in scena

[2017-04-10 03:02] vbellur commented on #11
Proposed CLI for the operation:

#gluster-block modify <volname>  replace-node <old-node> <new-node>

[2017-04-11 03:45] vbellur commented on #12
Duplicate of #5

[2017-04-11 03:45] #12 closed

[2017-04-12 07:53] pkalever opened #13 "Redirect Configshell logs to $PATH/var/log/gluster-block/"
Currently
[code]

i.e configshell  logs are collected at ./hello file.

fix for this issue:
Set logfile="PATH/var/log/gluster-block/gluster-block-configshell.log"

Any betterment at logfile name are appreciated.

[2017-04-12 07:56] pkalever commented on #11
Duplicate of #4

[2017-04-12 07:58] pkalever commented on #11
Please feel free to reopen the issue again. If you feel this cannot be addressed in #4

[2017-04-12 07:58] #11 closed

[2017-04-13 09:47] pkalever commented on #9
Adding to the above justification,

This feature should help in managing load balancing ...
Yes!

Currently,
$ gluster-block create VOL/BLOCK ha 3 HOSTx,HOSTy,HOSTz
Creates only one TPG i.e tpg1 (Read as Target Portal Group with Tag 1) on each node, with one portal listening on respective IP. All the gateways/nodes emulate same backend as target LUN with same WWN (for multipath representation)

So

[2017-04-13 10:04] nixpanic commented on #9
A single login is surely useful, but does it still allow to use device-mapper-multipath? If there is a single login, does it not have a single `/dev/sd*` device too?

[2017-04-13 10:14] pkalever commented on #9
@nixpanic :-) We still have the multipathed devices, same as old.

From my above example, all of sda, sdb, sdc i.e. 3 devices will be mapped and considered to be one device (may be mpatha) with multiple paths to target device.

[2017-04-13 10:39] nixpanic commented on #9
Ok, it looks like a great usability improvement then!

[2017-04-13 10:41] nixpanic commented on #9
One this is not very clear to me though... If only one TPG is enabled at the time, what makes failover happen to an other TPG? Is that handled by a dm-multipath policy automatically, or is that something that needs to be triggered on the TPGs themselves?

[2017-04-13 11:25] pkalever commented on #9
The disabled TPG's in each gateways are just to help in discovery of all the portals tied for that target.
But the actual connection happens with the individual gateways where there are enabled tpg's.

Example:
lets consider NODE1, NODE2 & NODE3
On each of these NODE we have 3 tpg's each. Again each of the tpg has different portal.

**NODE1**/GW1
tpg1
  -- portal: NODE1_IP:3260 -- **enabled**
tpg2

[2017-04-13 13:10] pkalever commented on #13
Available for review https://review.gluster.org/#/c/17059/

Please-review: @pranithk @vbellur @nixpanic

[2017-04-13 13:12] pkalever commented on #5
Available for review:
https://review.gluster.org/#/c/17037/
https://review.gluster.org/#/c/17038/
https://review.gluster.org/#/c/17039/
https://review.gluster.org/#/c/17040/

please-review: @vbellur @pranithk @nixpanic

[2017-04-13 15:57] #13 closed

[2017-04-18 07:01] pkalever commented on #9
Available for review:  https://review.gluster.org/#/c/17069/
please-review: @vbellur @pranithk @nixpanic

[2017-04-26 07:06] sbhaloth opened #14 "Gluster-block command doesn't errors out or gives message when the gluster-blockd service is not running on the node"
Description of problem:
*******************************
When gluster-blockd service is not running on a system then if a gluster-block command is executed it doesn't errors out or give message about service not running.

systemctl status gluster-blockd
● gluster-blockd.service - Gluster block storage utility
   Loaded: loaded (/usr/lib/systemd/system/gluster-blockd.service; disabled; vendor preset

[2017-04-26 07:24] pkalever commented on #14
Available for review: https://review.gluster.org/#/c/17120/
please-review: @pranithk @nixpanic @vbellur

[2017-04-27 06:15] #14 closed

[2017-04-28 06:27] #3 closed

[2017-04-28 06:28] #10 closed

[2017-04-28 06:28] pranithk opened #15 "gluster-blockd crashes when we give invalid block-host"
These are the steps I did to recreate the bug consistently:
[code]

This test was done with an older patchset so the line numbers may not match.

[2017-04-28 07:17] pranithk opened #16 "CLI timeout should be explicitly mentioned"
When we execute a CLI like:
gluster-block create v1/block7 ha 1 google.com 1GB --json-pretty

This command will error out after CLI timeout. but the CLI will silently error out with out mentioning any error. We should print an error message that the CLI timedout.

[2017-04-28 08:04] pranithk opened #17 "Do we need versioning for metafile?"
It seems like we need something similar to op-version in glusterd so that gluster-blockds will accept commands that are in all gluster-blockds just like how glusterd does it now.

[2017-05-02 09:41] #5 closed

[2017-05-03 17:58] pkalever opened #18 "create block using existing storage"
gluster-block should give an option to use existing storage block file

[2017-05-03 18:01] pkalever opened #19 "option in delete command to avoid unlink of storage"
delete should provide an option to leave storage as it is, just delete target configuration only

[2017-05-04 14:58] #9 closed

[2017-05-05 09:46] pkalever commented on #15
The SIGPIPE is issued due to TimeOut.
The connect takes too long for returning for invalid IP addresses, the delay is much higher that the CLI RPC Timeout, hence the CLI returns before the daemon returns.

The issue can be fixed by increasing the CLI RPC clnt_call() TIMEOUT.

This should actually be handled like:

[code]

But there is a bug in sun RPC which ignores TIMEOUT set using cln_control.
S

[2017-05-05 11:44] #15 closed

[2017-05-08 04:04] phucvinh52 opened #20 "Does gluster-block support to specify lun number?"
Hi everybody,
Does gluster-block support to specify lun id number?
Thanks.

[2017-05-09 09:53] pkalever commented on #20
No. As of now it always creates/exports targets with LUN 0.

Any particular reason why we want to mention LUN no. ?

[2017-05-16 17:30] vbellur opened #22 "Auditing of gluster-block commands"
Need a file / mechanism to log all requests that gluster-block daemon receives. It would be good to log the network identity of the requestor along with details about the request. Logging response status of requests received would be needed as well.

[2017-05-22 18:43] vbellur opened #23 "Improve output of gluster-block info"
Sample output of gluster-block info is as below:

Some suggested improvements:

1. Displaying the size value in the unit it was configured (50 GiB in this case) or in a more human readable way would be nice.

2. BLOCK CONFIG NODE(S) does not seem very intuitive. A better string like "Exported Node(S)" or something else might make it more intuitive.

[2017-06-08 13:26] nixpanic opened #25 "Get gluster-block accepted as package in Fedora"
The process to become an official Fedora Packager is described on the [Package Maintainers](https://fedoraproject.org/wiki/Category:Package_Maintainers) wiki page.

I should be able to help out in case assistance or further explanations are needed. However the people in `#fedora-devel` on Freenode are normally quite responsive too.

[2017-06-12 11:29] pkalever commented on #23
Patch available:
https://review.gluster.org/#/c/17519/

[2017-06-13 06:30] #23 closed

[2017-06-13 09:23] pranithk commented on #16
This is fixed as part of https://review.gluster.org/17461

[2017-06-13 09:23] #16 closed

[2017-06-13 09:27] pranithk opened #26 "gluster-blockd should die giving a good error message when there are errors while coming up"
Even when rpc register fails gluster-blockd keeps running but is not operational and doesn't recieve gluster-block rpcs from other servers. Instead when it goes to this state, it should die gracefully giving the reason why it is terminating.

This is the only hint we will find in the logs as to why things are not working as expected.

[2017-06-13 09:04:54.256866] ERROR: unable to register (GLUSTER

[2017-06-13 10:13] pranithk commented on #26
It prints the following when the same error appears now:
[root@localhost gluster-block]# gluster-blockd
Cannot register service: RPC: Unable to receive; errno = Connection refused
unable to register gluster-blockd with portmap service
[root@localhost gluster-block]#

How does it look? @pkalever @vbellur

[2017-06-13 14:30] pranithk commented on #26
After discussions with @pkalever changed it to this:
[root@localhost gluster-block]# gluster-blockd
Cannot register service: RPC: Unable to receive; errno = Connection refused
Please check if rpcbind service running

[2017-06-13 14:32] pranithk commented on #26
Patch: https://review.gluster.org/17535

[2017-06-14 06:17] #26 closed

[2017-06-14 06:18] vbellur opened #27 "Inconsistency seen after reboot during create"
I was attempting to create a block-device when one of the nodes rebooted. After the node rebooted, I experience inconsistencies with respect to the block device. Some details below:

1> Output of info soon after node rebooted
gluster-block info nr/ebd
NAME: ebd
VOLUME: nr
GBID: d1dfafbb-7ddd-4941-b1be-d2c05426af2d
SIZE: 322122547200
HA: 2
PASSWORD:
BLOCK CONFIG NODE(S): 10.16.154.39

2> Log output

[2017-06-14 12:49] pkalever commented on #27
@vbellur @pranithk
after some investigation around, by appending and deleting line by line in the meta file and calling info command, it seems like info command is behaving as expected.

ATM, I'm assuming that the below possibility:
fcntl bug in glusterfs could have allowed two transactions, i.e info while delete is in place. Which means while metadata file updation is in progress by delete, info

[2017-06-15 05:52] prashanthpai opened #28 "Gluster-block create fails on f24"
[code]

[code]

[code]

[2017-06-15 05:53] prashanthpai commented on #28
This should also be a dependency (contains iscsid)

[code]

[2017-06-15 05:59] prashanthpai commented on #28
[log.tar.gz](https://github.com/gluster/gluster-block/files/1076694/log.tar.gz)

[2017-06-24 06:50] pranithk opened #31 "gluster-block create prints "(null)" when tcmu-runner is not running"
11:18:28 :( ⚡ gluster-block create d1/1-img ha 1 localhost.localdomain 10GiB
(null)
RESULT:FAIL

This happens when tcmu-runner is not running. Sent https://review.gluster.org/17622 to fix it and it prints:
11:45:18 :( ⚡ gluster-block create d1/1-img ha 1 localhost.localdomain 10GiB
failed to configure on localhost.localdomain tcmu-runner not running
RESULT:FAIL

[2017-07-04 14:33] nixpanic commented on #25
Started the [Package Review Process](https://fedoraproject.org/wiki/Package_Review_Process). The request has been filed as [Review Request: gluster-block - A framework for gluster block storage management](https://bugzilla.redhat.com/show_bug.cgi?id=1467677)

[2017-07-06 12:31] pkalever opened #32 "clean metafile along with storage when EntryCreate fails"
As of now, if an EntryCreate (backend storage create) fails for some reasons
like no space left, we only clean storage, leaving metafile.

$ gluster-block create sample1/block2 prealloc full 192.168.0.105 40GiBNot able to create metadata for sample1/block2[No space left on device]
RESULT:FAIL

$ tree /mnt/
/mnt/
├── block-meta
│   ├── block2
│   └── meta.lock
└── block-store
2 directories, 2 files

[2017-07-07 03:38] #32 closed

[2017-07-07 05:26] pkalever commented on #31
Fixed https://review.gluster.org/#/c/17622/

[2017-07-07 05:26] #31 closed

[2017-07-07 11:23] pkalever opened #33 "Block create help does not show the new option "prealloc <full|no>"
gluster-block create help has no mention of newly added "prealloc <full|no>" option.

[root@dhcp47-121 ~]# gluster-block create
Inadequate arguments for create:
gluster-block create <volname/blockname> [ha <count>] [auth enable|disable] <HOST1[,HOST2,...]> <size> [--json*]
[root@dhcp47-121 ~]#

"gluster-block help" does list it under the create section though. It seems to have gotten missed adding

[2017-07-07 11:45] #33 closed

[2017-07-10 07:17] pranithk opened #34 "Modify succeeds even when tcmu-runner is not running"
root@dhcp35-190 - ~
22:04:52 :( ⚡ gluster-block create r3/1-img ha 1 192.168.122.1 1GiB
IQN: iqn.2016-12.org.gluster-block:799008ab-4bf5-46f7-b2ed-c04320aae32c
PORTAL(S):  192.168.122.1:3260
RESULT: SUCCESS

Bring tcmu-runner down on the node where the block is configured. After that:
root@dhcp35-190 - ~
22:05:50 :) ⚡ gluster-block delete r3/1-img
tcmu-runner is not running in few nodes
RESULT:FAI

[2017-07-11 10:15] pkalever opened #35 "block create: Minimum acceptable block size should be 1 sector/512 bytes"
Do not allow block create size < 512 bytes

[2017-09-01 13:11] SaravanaStorageNetwork opened #36 "Use environment file instead of variables"
We have these files :
systemd file
https://github.com/gluster/gluster-block/blob/master/systemd/gluster-blockd.service.in

environment file
https://github.com/gluster/gluster-block/blob/master/systemd/gluster-blockd.sysconfig

We have all variables commented inside env. file above.
It is better to uncomment all these variables and remove all variables from systemd file above.

[2017-09-22 14:26] nixpanic opened #37 "'gluster-block list <volume>' dumps a core when executed as non-root"
The following backtrace:

[code]

It seems the error message is appropriate, but is not logged. Possibly commit a2dff3381ac1d14bd42d478a6c96216750009741 fixes the coredump and gives the user the error back?

[2017-09-22 14:29] nixpanic commented on #37
Btw, this was with gluster-block-0.2.1-2.fc26.x86_64 from the Fedora 26 (testing) repository.

[2017-09-28 13:21] Oliver-Chang opened #38 "Windows cant use block device"

[2017-10-09 13:55] #35 closed

[2017-11-08 07:12] pkalever opened #41 "add some basic glusto-test scripts"

[2017-11-08 07:15] pkalever commented on #25
Fedora package for gluster-block available now. Thanks @nixpanic

[2017-11-08 07:15] #25 closed

[2017-11-09 14:03] nixpanic commented on #28
@prashanthpai is this still a problem with recent Fedora releases and current gluster-block from the Fedora repositories?

[2017-11-09 14:45] nixpanic opened #42 "Support for snapshots"
It would be great if the gluster-block CLI can provide support for snapshots. A naive implementation can create a (full) copy of the file that is used by tcmu-runner. The minimal usable functionality should support the following commands:

- `create-snapshot [--tag=<TAG>] <VOLNAME/BLOCKNAME>`: create a copy of the `<VOLNAME/BLOCKNAME>` file with the optional user provided `<TAG>` added to the xatt

[2017-11-10 05:07] prashanthpai commented on #28
I assume not but haven't really tried again.

[2017-11-14 07:14] shwetha-h-p commented on #41
I am working on this issue.

[2017-11-15 03:35] sankarshanmukhopadhyay commented on #41
This would need additional detail so that we have on record what the scope started with and whether we have that in place once work is completed.

[2017-11-15 03:53] pkalever commented on #41
We wanted to have a basic CI/Jenkins job, which gets triggered on every PR we submit, in-order we catch regressions, in the initial phase.

Initially, we thought of adding some basic bash scripts which we run on Centos CI duffy's. But again requesting multiple duffy's might be a constraint. To solve that we thought of using vagrant to create VM's inside one single duffy.

Since running tests for H

[2017-11-15 03:57] sankarshanmukhopadhyay commented on #41
I'll attempt to break this down so as to validate that I understand this plan of action correctly.

- There is a need to "build" on a per PR
- Each of these builds will be deployed
- The deployed builds with be checked for functionality and regressions

is the above the total outcome that is desired?

[2017-11-15 04:01] sankarshanmukhopadhyay commented on #41
Alright. I am going to make 2 assumptions here
- the component has unit tests
- the functionality to be tested is well described to have tests added to Glusto library

Does the component also have the attributes which enable easy debugging of test failures viz. descriptive logging and such?

[2017-11-15 04:03] pkalever commented on #41
Yes, this is the overall expectation.

We want to start with adding limited test cases for now, once we have the job that gets trigger per PR in place, we can append more tests to them in future.

[2017-11-15 04:08] sankarshanmukhopadhyay commented on #41
Alright. I'll wait for @shwetha-h-p to define/scope and document the first set of limited test cases along with @pkalever Once that is in place, it helps ascertain what value we accrue from repeat runs using instrumentation via the Glusto framework. Thanks for taking time to clarify all of this.

[2017-11-15 04:17] pkalever commented on #41
To be honest, we are currently bad here, we have added tests that check for create/delete/list and few other units ...
But we want to improve this in the near future.

Yes

Yes, We have good logging in gluster-block, I believe :-)  But we will definitely work on improving, if required.

[2017-11-29 12:28] pkalever commented on #6
Patch available for review:
https://review.gluster.org/#/c/18787/

[2017-11-29 12:28] pkalever commented on #18
patch available for review:
https://review.gluster.org/#/c/18890/

[2017-11-29 12:29] pkalever commented on #19
Patch available for review:
https://review.gluster.org/#/c/18891/

[2017-11-29 12:30] pkalever commented on #4
Replace node patch for review:
https://review.gluster.org/#/c/18508/
https://review.gluster.org/#/c/18528/

Script:
https://review.gluster.org/#/c/18575/

[2017-12-08 10:58] pkalever opened #43 "Rest interface for gluster-block"
Implement a restful api interface in gluster-block.

Will update this issue with the api design | schematics once I have something.

[2017-12-11 19:40] humblec opened #44 "Correct gluster block size calculation based on the unit string."
At present, if we specify `Gb` or `GiB`, glusterblock utility calculates the space in `1024` mebibytes where it should be `1000` in case of `GB` and `1024` incase of `GiB". https://github.com/gluster/gluster-block/blob/master/utils/common.c#L78 .  More details on this spec can be found @ https://en.wikipedia.org/wiki/Gibibyte.  This is not correct and user expects the correct calculation in gluste

[2017-12-11 19:41] humblec commented on #44
/assign @pkalever

[2017-12-11 21:11] obnoxxx commented on #44
More precisely, anything starting with a "G" is treated as (1024)^3 by gluster-block. I'e `1Grand` and `1GiB` and `1G` and `1Github` will all result in the same. The only thing that the gluster-block manpage documents is GiB. So that's what is supported today. We should make the input-checking some more strict and only allow GiB, TiB etc. We *could* also allow G, T, etc as single letter size units

[2017-12-12 03:45] obnoxxx commented on #44
@pranithk @pkalever fyi

[2017-12-12 06:08] obnoxxx commented on #44
FYI: just proposed a RP to heketi to be more precise in the documentation and messages about using GiB: https://github.com/heketi/heketi/pull/935

[2017-12-12 06:19] pkalever commented on #44
As @obnoxxx mentioned it right. Right now gluster-block support only GiB patterns, anything like G or Gi or GXZ is treated as GiB only.

It will be good to bring more strict checks about requested units. It is clear for me that we should interpret GB as 1000^3 and GiB as 1024^3, but we need to also define what is G ? i.e GB or GiB

@obnoxxx @humblec @vbellur @pranithk  Thoughts ?

[2017-12-12 10:31] obnoxxx commented on #44
@pklever my proposal is keep it simple: only support powers of 1024. Lock down the parsing to support KiB, MiB, GiB etc, and keep K, M, G etc as synonyms since that may already have been used. (As mentioned this also matches what programs like "dd" do.) Fail on all other inputs. (GB, Gluster, ...)

[2017-12-12 11:32] obnoxxx commented on #44
@pkalever patch proposed to implement the same: https://review.gluster.org/19027

[2017-12-21 07:37] #44 closed

[2018-01-09 15:39] YUNZHONGTAN commented on #38
windows 10 can support it

[2018-01-29 00:18] hetzbh opened #46 "iscsi, targetcli and VAAI"
Since gluster-block uses the targetcli "infrastructure", can I use the targetcli VAAI functions for VMware acceleration? (See this link for more info: https://goo.gl/dLUPsV )

[2018-02-07 11:35] #4 closed

[2018-02-08 08:40] #18 closed

[2018-02-08 08:59] #19 closed

[2018-03-01 06:28] lxbsz opened #47 "The best way to allow max block to be settable"
@pkalever @pranithk @vbellur @all

As we discussed last meeting, if we will allow the max block to be settable for each target device. Which is the best way to do ?

1,  intergrated into create command:

  commands:
  create  <volname/blockname> [ha <count>]
                              [auth <enable|disable>]
                              [prealloc <full|no>]
                              [stora

[2018-03-01 06:35] lxbsz commented on #46
Since the tcmu-runner has already adding the VAAI emulator support . Though the glfs hasn't to do the local VAAI supporting, it will fallback to use the emulator methods.

I think it should be okay.

[2018-03-12 09:18] lxbsz opened #48 "Create a new tpg instead of using the default one(named as default_tg_pt_gp)"
To support the resize feature, we must fix the current tcmu-runner's bugs, which will bypass and ignore the default tpg. But the default tpg has some bugs in some kernel version, we'd better create a new tpg instead of the default one.

More detail about this please see tcmu-runner PR: https://github.com/open-iscsi/tcmu-runner/pull/382

/**
 * tcmu_get_alua_grps: Fill group_list with the kernel's

[2018-03-12 12:22] pkalever opened #50 "remove PULL_REQUEST_TEMPLATE"
As we want to start allowing reviews on github, let us remove the msg mentioning "gluster-block does not use GitHub Pull-Requests" from  .github/PULL_REQUEST_TEMPLATE

[2018-03-14 06:29] pkalever opened #52 "cli command to generate the configuration"
Add a capability in gluster-block to support regeneration of configuration

$ gluster-block help
gluster-block (e5d3252)
usage:
  gluster-block <command> <volname[/blockname]> [<args>] [--json*]

commands:
[...]
  regenconfig <volname[,volume2,volume3,...]> enable <host>
        regenerate block configuration for volume[s] in list, enabling host.
[...]
supported JSON formats:
  --json|--json-plain

[2018-03-14 06:30] pkalever commented on #52
@vbellur @pranithk @lxbsz need you help in finalizing the schematics of the command

[2018-03-14 10:20] lxbsz opened #53 "gluster-block need the ALUA feature to support the HA."
The alua is a must for gluster-block, because due to the design of the LIO & tcmu, if one path has been blocked for a long time (such as due to the network's reason) then the IO requests on the client side will time-out and try to resend the IO requests through the other available path(HA). Just then if the blocked path recover and if it continue the old IO requests to the backend, then we are pro

[2018-03-14 20:18] #50 closed

[2018-03-15 10:01] pkalever opened #55 "gluster-block should support a way to create storage Objects from fuse mount dir via FileIO"
$ gluster-block help
gluster-block (0.3)
usage:
&nbsp;&nbsp;&nbsp;gluster-block <command> <volname[/blockname]> [<args>] [--json*]

commands:
&nbsp;&nbsp;&nbsp;create  <volname/blockname> [ha <count>]
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**[type <glfs|fuse>**
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[auth <enable|disable>]
&nbsp;&nb

[2018-03-15 10:10] nixpanic opened #56 "glibc will remove bundled rpc/xdr/.. functions, libtirpc should be used instead"
Fedora 28 already has an updated glibc package and gluster-block fails to build now ([Fedora BZ#1556639](https://bugzilla.redhat.com/1556639)).

It seems the following changes are needed:
- `rpcgen` is in its own package now (specfile update)
- the new `rpcgen` does not support the `-M` option (`Makefile.am` changes)
- libtirpc is needed as a build dependency (specfile and `configure.ac` change)
-

[2018-03-16 04:30] lxbsz commented on #47
https://review.gluster.org/#/c/19680/

[2018-03-16 04:31] lxbsz commented on #48
https://github.com/gluster/gluster-block/pull/49

[2018-03-16 04:43] lxbsz opened #59 "Add qemu-tcmu support for gluster-block tool"
Currently, the qemu-tcmu is under 3rd Version by the community: https://github.com/open-iscsi/tcmu-runner/pull/263, and now is blocked by the License issue.

[2018-03-20 07:23] lxbsz opened #61 "Introduce the dynamic config feature support."
With the dynamic config feature in gluster-block we can set the config parameters without restart the gluster-blockd.

[2018-03-21 16:45] amarts commented on #59
@pkalever @lxbsz @pranithk can we pick the code locally, and try running some basic tests while we fix the license issues?

Specifically, the performance penalty we would get because of qcow2 format, and specially after taking some snapshots.

[2018-03-22 03:56] lxbsz commented on #59
@amarts yes, sure, I will do this.
Before I have test the snapshot, it still couldn't work though it has already has the feature support.

[2018-03-22 07:06] lxbsz opened #62 "Push the netlink timeout patch in kernel to fix stuck bug"
https://www.spinics.net/lists/target-devel/msg16018.html

this is the blocked patches in kernel target list and the author is non-active for a long time. and we need this.

[2018-03-23 13:52] #6 closed

[2018-03-23 13:54] #48 closed

[2018-03-23 15:57] pkalever opened #65 "Man page update"
update gluster-block Man page with resize, replace, unlink-storage and storage options

[2018-03-27 12:44] pkalever opened #67 "No caching at the client side"
Because the client ungraceful shutdown could lead us to file-system corruption

[2018-03-27 12:45] pkalever commented on #67
@lxbsz  @vbellur @pranithk thoughts ?

[2018-03-27 12:48] lxbsz commented on #67
@pkalever Is this related to the XFS corruption issue ?

[2018-03-27 12:49] pkalever commented on #67
@lxbsz yes it is.

[2018-03-27 12:53] pranithk commented on #67
@pkalever Ungraceful shutdown leads to problems even on disk filesystems. Removing caching to handle ungraceful shutdowns is punishing who do graceful shutdowns. Better would be to prevent ungraceful shutdown instead.

[2018-03-27 13:01] pkalever commented on #67
So in that case one should always make sure to unmount the device before the shutdown.

Request to comment: @obnoxxx @raghavendra-talur @humblec @nixpanic

[2018-03-27 13:19] lxbsz commented on #67
@pkalever @pranithk While ungraceful shutdown couldn't be prevent for some reason, such as the system crash. And agree with pranithk closing the cache is punishing to the normal case.

[2018-03-27 13:21] pranithk commented on #67
Yes, that is how all the disk filesystems work. We need to understand why ungraceful shutdown is the norm and fix it.

[2018-03-28 06:35] pkalever commented on #17
Fixed by:
https://github.com/gluster/gluster-block/commit/46f460fa669ce9f7b9f2de9e54cefc3726dcd029

[2018-03-28 06:35] #17 closed

[2018-03-28 06:36] pkalever commented on #36
Please reopen this issue, if you feel this is not fixed yet.

[2018-03-28 06:36] #36 closed

[2018-03-28 06:38] pkalever commented on #38
@Oliver-Chang do you still face the problem ?

[2018-03-28 06:40] pkalever commented on #37
@lxbsz for some reason I cannot add you here, we should fix this part.

[2018-03-28 06:42] pkalever commented on #20
@phucvinh52 we will wait for you response for a week, before we go close this issue.

[2018-03-28 06:45] pkalever commented on #47
Fixed by https://github.com/gluster/gluster-block/pull/64

[2018-03-28 06:45] #47 closed

[2018-03-28 06:47] pkalever commented on #27
I hope this is fixed now. Hence closing. Feel free to reopen ...

[2018-03-28 06:47] #27 closed

[2018-03-28 06:48] lxbsz commented on #37
@pkalever Yeah, well received.

[2018-03-28 06:48] pkalever commented on #46
@hetzbh does @lxbsz comment help ?

[2018-03-28 06:54] pkalever commented on #28
With the release of Fedora 26, Fedora 24 officially enters End Of Life (EOL) status on August 8th, 2017.
Hence Closing this issue.

[2018-03-28 06:54] #28 closed

[2018-03-28 06:55] pkalever commented on #34
@lxbsz please feel free to take a look. Looks like I cannot assign you some old issues.

[2018-03-28 08:32] nixpanic commented on #67
The order of shutdown is important in this case. It probably should be this:

1. stop pods using gluster-block provided filesystems
2. unmount the iscsi backed filesystems (flushes data to the block devices, iscsi should flush too)
3. stop gluster-block/tcmu-runner (flush data received over iscsi to Gluster)
4. stop the Gluster pods
5. unmount filesystems used by the Gluster pods
6. reboot

If the

[2018-04-05 14:56] pkalever opened #70 "saveconfig: only alter given block configuration"
We use saveconfig in all the remote calls i.e. create/delete/modify/replace.

Currently, if we try to operate on a given block, the consequent saveconfig will result in rewriting the whole node configuration again as per the current state of targets in the machine, this could result in override of currently existing but inactive blocks configuration.

We should support saving configuration per blo

[2018-04-06 10:51] pkalever opened #71 "modify auth fails"
$ gluster-block create test/blockX1 ring-buffer 32 192.168.124.227 1G
IQN: iqn.2016-12.org.gluster-block:50c787bd-9617-49b2-813f-4d03432c80ba
PORTAL(S):  192.168.124.227:3260
RESULT: SUCCESS

$ gluster-block modify test/blockX1 auth enable
**Volume  does not exist**
RESULT:FAIL

$ gluster-block modify test/blockX1 size 2G
IQN: iqn.2016-12.org.gluster-block:50c787bd-9617-49b2-813f-4d03432c80ba
SIZE

[2018-04-06 12:01] pranithk commented on #42
Based on https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/volume-snapshotting.md, it looks like the storage doesn't need to worry about fs-consistency, it is something kube will do.

[2018-04-06 12:37] pkalever opened #73 "Add discard support in the runner"
More details later!!

[2018-04-06 13:24] nixpanic commented on #42
Indeed, it is expected that the user/operator initates a snapshot
workflow that ideally includes

- informing the application to flush its caches and pause coming writes
- call fsfreeze on the filesystem that gets snapshot'ed
- gluster-block does the snapshot
- unfreeze the filesystem
- inform the application that writes can be done again

The 1st and last step may not be possible with all applica

[2018-04-06 19:29] ams0 opened #74 "Block creation fails"
I want to setup a standalone 3-node cluster exporting two gluster volumes via iSCSI (mounted with multipath by multiple clients). I have Gluster 3.8 and gluster-block 0.3; I have two healthy volumes over 3 nodes with RHEL7.4 and targetcli version 2.1.fb46 (g1b, g2b and g3b):

[code]
Volume mounts locally fine (on _/db2/data/data_ and _/db2/quorum_). When I want to create a block device with:

[cod

[2018-04-06 19:39] ams0 commented on #74
g{1-3} are all VM's in Azure in the same vnet and region, firewall is off, and the network security group allows 111,3260(tcp),49152-49160(tcp),24007-24010(tcp).

[2018-04-09 08:47] bhumikagoyal opened #75 "Use correct gfapi function signatures"
This issue came up while installing gluster-block on top of glusterfs 4.1dev.
The gfapi functions have changed as per the discussion https://github.com/gluster/glusterfs/issues/389# but some gfapi calls inside gluster-block are not updated and are still using the old apis.
Therefore, update the below functions to use the changed gfapi.

- [ ] glfs_ftruncate

[2018-04-09 09:45] pkalever opened #76 "Start adding external dependencies (targetcli/rtslib/configshell) version checks"
This will save us from breaking compatibility with older versions of dependencies.

[2018-04-09 09:55] #65 closed

[2018-04-09 13:05] pkalever commented on #74
@ams0 Please use the Host IP addresses instead of g1b,g2b,g3b

i.e. something like,
$ gluster-block create db2data/data1 ha 3  192.168.124.1,192.168.124.2,192.168.124.3 40GiB

I feel gluster-block should return a valid error/user msg when hostnames are supplied instead of IP addr's (atleast until it supports hostnames)

Thanks!

[2018-04-09 13:59] ams0 commented on #74
hi

thanks! In hindsight, I should have tried right away - it worked immediately:

[code]

Indeed, it does work, but docs are a bit obscure and I could have definitely a bit more verbose error description. Also, why it doesn't work with hostnames? Is it an iSCSI thing or gluster-block limitation?

Thanks anyhow! I

[2018-04-10 06:08] #71 closed

[2018-04-11 09:38] ams0 commented on #74
I wrote a small post on it: https://medium.com/cooking-with-azure/multipath-iscsi-in-azure-with-glusterfs-and-gluster-block-on-rhel-f64e5f7a9ec3 , thanks @pkalever , I can close this.

[2018-04-11 09:38] #74 closed

[2018-04-11 14:03] pkalever commented on #74
Hi @ams0,

Nice Article, Thumbs up!!

I will add defense code for host-name's in the gluster-block soon.
The hostnames issue is something that I raised more than a year ago now, see [1]
I will have to try debug that myself and fix if possible someday soon.

[1] https://lists.fedorahosted.org/archives/list/targetcli-fb-devel@lists.fedorahosted.org/thread/4E5XQQREDX6S742GRXM7GOLPAEJZQYVX/

Thanks!

[2018-04-17 04:27] lxbsz opened #78 "gluster-blockd crash when creating/deleting the block devices"
How to reproduce:

$ while [ 1 ]; do gluster-block create dht0/block23 ha 1 192.168.195.134 1G; sleep 2;  gluster-block delete dht0/block23; sleep 1; done

How often:

Till now only once for 2 hours.

The crash logs:

Apr 16 23:42:32 gblock2 systemd[1]: gluster-blockd.service failed.
Apr 16 23:42:32 gblock2 systemd[1]: Unit gluster-blockd.service entered failed state.
Apr 16 23:42:32 gblock2 syste

[2018-04-17 09:50] singhwang opened #79 "How to use gluster-block to operate gluster-blockd on remote machine?"
I want to use gluster-block utility to operate gluster-blockd process on remote machines. How can I configure it, please?

[2018-04-24 11:07] bhumikagoyal commented on #22
Workflow as discussed with @pranithk

Before arriving at the solution, we considered two ways of how logging the responses can be done:
 1.  Logging at the CLI component at the end.
 2.  Logging at the CLI thread of gluster-blockd.

Logging at the CLI component at the end:
After receiving and collecting the responses from all the hosts, gluster-blockd sends the final response to the CLI. This fina

[2018-04-26 11:23] pkalever opened #82 "load balancing the IO connections (active paths) across HA nodes"
Currently we recommend multipathing priority configuration as constant.

[code]

Setting 'prio const' means setting all paths priority as 1, hence if we create blocks with NODE1, NODE2 and NODE3 (HA 3), they will be assigned to portals for tpg1, tpg2 and tp3 respectively.

Since the path prio is 1 for all, it is very likely that tpg1 is mostly picked and hence the active path will be target on NOD

[2018-04-27 01:03] lxbsz commented on #82
@pkalever

We'd better create a sepeate ALUA group for each tpg[X], AO, ANO and ANO1 just like the ceph product does. Then the LUNs could be controlled by changing the settings of its own ALAU group.

[code]

[2018-04-27 01:47] lxbsz commented on #22
@bhumikagoyal

This looks good to record and collect all logs of the request, it will be very useful for us to trouble shoot the bugs.

Should we also log the status whether the gluster-blockd side has received the request or not in gluster-blockd side ?

[2018-04-27 05:57] pkalever commented on #82
@lxbsz

Yes, that way my initial thought when started testing this. But I did not realized any practical help/use by declaring 3 ALUA groups (1 AO and 2 ANO) ? then I though 2 will be enough (1 AO and 1 ANO)

Do you have any example use case, where we might want to map 1 ALUA group with 1 tpg ?

[2018-04-27 06:27] lxbsz commented on #82
@pkalever
Currently, I also hasn't any use case, but it will be more flexible to implement like that.
Later the tcmu-runner will support the Explicit transition back, which could control each ALUA group or tpgX by client.

[2018-04-27 13:08] pkalever commented on #82
Currently there is no way to see active connections on a node from target side.
We want to maintain a counter for AO per node in every volume.

say, If we have IP1, IP2, IP3 (HA 3)
We will have a counter file (in every volume), where we maintain AO count:
$ cat .counter
IP1: 70
1P2: 58
IP3: 63

For example, the next create command will pick AO on IP2 (since it has less load)
any better solutions a

[2018-05-07 02:27] BlackoutWNCT opened #84 "Unable to format LUN"
So, I'm not sure if this is user error, or which component of this solution is currently causing these issues, but I'm having trouble formatting the exposed objects.
The below paste is a section of journalctl on the initiator which was attempting to format and mount the LUN.
There is also a paste of the `targetcli ls` at the bottom.

https://paste.ubuntu.com/p/TPpTZmgwJP/

These errors occured usi

[2018-05-07 14:40] pkalever commented on #41
@bhumikagoyal This is the issue for glusto based gluster-block tests.

[2018-05-10 17:01] mikechristie commented on #82
Do you mean iscsi connections? If so check out the targecli sessions command. configfs exports what initiators are connected to what portals so you can tell from that. There is also some stats so you can tell the IO load for each session and make decisions based on that too.

[2018-05-11 13:51] pkalever commented on #82
I checked for this a while ago now, but it was showing always something like:
[code]
... even when the sessions are active, may be its been a while this got broken already ?

BTW - I'm running this on the target side (hope I'm not mistaken)

May be we should fix it up ?

[2018-05-11 19:53] mikechristie commented on #82
Did you have initiator ACLs setup? You need them right now because the sessions property is on that object.

If you need the info without an ACL then yeah, I think you need to add some code.

[2018-05-24 08:43] ahmadou commented on #78
Hi i'm also experiencing the same issue.

[code]
So far the block provisionning has been working but suddenly it started behaving randomly and now is completely broken.

[2018-05-29 02:06] pkalever commented on #79
Please go through [ReadMe](https://github.com/gluster/gluster-block/blob/master/README.md)  file.

If you have any queries after that, you can post them here.

Thanks!

[2018-06-04 20:45] pkalever commented on #34
@pranithk this might be because we are returning 0, even if target is not loaded ?

[2018-06-05 04:24] #82 closed, assigned to pkalever

[2018-06-05 04:43] #52 closed

[2018-06-05 10:53] lxbsz commented on #78
@ahmadou

What version you are using for glsuter-blockd ? Upstream version ?

Thanks,

[2018-06-05 10:56] ahmadou commented on #78
Hi,

I built it from the master branch

[2018-06-05 11:04] lxbsz commented on #78
@ahmadou

Okay, that's to say this bug also is exist in the master.
Thanks very much.

[2018-06-05 11:34] pranithk opened #87 "Review gluster-blockd with originator dying just after updating configuration case"
Figure out if there are any issues that need to be fixed here.

[2018-06-19 06:12] amarts commented on #53
## Proposal
More thoughts on how to do it in [glusterfs](gluster/glusterfs) project.

Feel free to add comments and possibilities and options, or discard the whole idea.

### Assumptions:

* All gluster-block files would be served from a gluster volume specially created for gluster-block consumptions. ie, it can have a separate volume type of its own in future. For now, only gluster-block profile

[2018-06-27 16:52] ShyamsundarR commented on #53
The logic of preventing access by another client using open restrictions sounds fine.

The use of generation numbers to address detection of stale client reopening also sounds fine.

The problem that I see with this mechanism, is the assumption that the consumer (or client) uses the generation number based approach to notify Gluster about a reopen of the backing file (Guster stack itself reopening

[2018-07-07 15:07] softyn opened #95 "saveconfig.json reset after reboot & gluster-blockd start"
I have following problem - I am getting configuration reset after rebooting server(s).

I have 2 servers with gluster and gluster block (v0.3) installed.
Steps to reproduce problem:
1. Create any volume e.g
gluster-block create test/fortest ha 2 192.168.1.15,192.168.1.16 1GiB
2. I can see that it is working e.g. opening targetcli on both machines
 I can restart gluster-blockd or tcmu-runner  and s

[2018-07-11 07:47] pkalever opened #96 "Return Hint from Async functions to CLI"
Right now, we do not Return some hints about remote failures from the Async functions to Cli process.

Adding hints about failures will help improve user experience.

[2018-07-12 05:03] pranithk opened #99 "Do we get any performance benefits with aio/dio"
I saw the following pull request on rtslib(https://github.com/open-iscsi/rtslib-fb/pull/134) and wondering if it gives any performance benefit for gluster-block
@pkalever @lxbsz Do you guys know?

[2018-07-18 05:41] pranithk opened #103 "defend on capability file exceeding GB_CAP_MAX number of capabilities"
In review of #101 we found that it is easier to add this check than to debug a memory corruption. Just capturing it here so that we don't lose track of this.

[2018-07-25 10:33] Madhu-1 opened #105 "failed to start gluster-blockd service"
failed to start gluster-blockd with below error message

[code]

[2018-07-28 08:39] softyn commented on #95
Hi again,
So seems not to be a bug. Adding simply 'targetcli restoreconfig' as startup script solves the problem. It just works this way.

[2018-07-30 16:36] pranithk opened #106 "Metrics for monitoring"
I am raising this issue to figure out the metrics that need to be tracked from gluster-block projects so that it is easier to monitor that gluster-block is functioning as expected.

@pkalever @lxbsz @bgoyal please let me know. We are coming up with infra so that these metrics are stored at regular intervals so that when a user/customer hits any issue you have historic data about the deployment whi

[2018-08-13 07:27] Madhu-1 commented on #105
@pkalever

 I have followed readme to install gluster-block

Sadly, I don't have the setup now.

[2018-08-13 07:31] pkalever commented on #105
This could happen, if tcmu-runner didn't load glfs handler successfully.
If tcmu-runner is source compiled then, we need to make sure, if we are compiling with glfs handler.

@Madhu-1 Is it working for you now ?  If so, what did you do for it to work ?

Thanks!

[2018-08-13 07:32] pkalever commented on #79
@singhwang ping. ^^

[2018-08-13 07:34] Madhu-1 commented on #105
i was unable to make it working, so  went with gluster-block installation with `yum install gluster-block`

[2018-08-13 07:38] pkalever commented on #105
Ah! So you install tcmu-runner as yum install as per Readme, bit It didn't worked ?
Can you please help with the os version that you are on ?

Thanks!

[2018-08-13 07:46] pkalever commented on #95
In general, after rebooting the server, you just need to make sure if your gluster volume is up and then systemctl start gluster-blockd, that should intern trigger gluster-block-target.service, which is responsible to load the target configuration from /etc/target/saveconfig.json.

Can you please confirm if this steps are working for you ?

If not, the must be a bug.
Please help with the environme

[2018-08-13 07:46] pkalever commented on #95
@softyn ^^

[2018-08-13 08:08] lxbsz commented on #84
@BlackoutWNCT
Thanks for your reporting about this.

As default, there should be one default alua tpg, like:

Not sure will it have some affect about this.

Currently I didn't have the CentOS setups. And the logs you pasted are from initiator side, I couldn't be sure what's the root cause from this logs.

Could you upload the following logs from the target side ?
1, /var/log/gluster-block/*
2, /va

[2018-08-29 11:54] obnoxxx opened #114 "This repo needs CI"
This should have an automatic validation of PRs that at least build the code and do some basic tests. This can easily be done with travis integration, see for instance https://github.com/heketi/heketi.

Untested code is broken code...

[2018-09-01 01:42] pranithk opened #116 "Prevent configuration errors when sparse files exist in block-store"
Say, if the block hosting volume is 100% used, we expect the block volume delete
operation should free some space. But since the delete operation will also incur
some metadata writes into the respective block meta file, the meta writes will
fail with ENOSPC. Hence the block delete operation will be terminated. This is addressed for cases without sparse files with https://github.com/gluster/gluster

[2018-09-06 17:21] pkalever opened #117 "Dump all failure cli responses to stderr"
On FAILURE dump reply.out to stderr
On SUCCESS dump reply.out to stdout

[2018-09-07 03:42] pranithk commented on #117
@pkalever Traditionally applications dump to stderr on Failure and stdout on success, wondering what prompted you to dump to stderr even on success.

[2018-09-07 04:31] pranithk commented on #117
@pkalever Didn't get you. Are you saying On SUCCESS we dump it on stdout? Issue description says: " On SUCCESS dump reply.out to stderr"

[2018-09-07 04:38] pkalever commented on #117
Ah! sorry. Just corrected. Thanks!

[2018-09-14 09:18] nixpanic opened #118 "gluster-blockd should have a runtime check for the needed targetcli version"
In #57 a [testing difficulty was hit](https://github.com/gluster/gluster-block/pull/57#issuecomment-413173462) as it seemed newer versions of gluster-block require an updated targetcli. In order to prevent such problems from happening, a clear error should be reported.

When gluster-blockd starts up, it ideally checks if targetcli is running, and has the correct (or newer) version (either through

[2018-09-25 01:13] lxbsz opened #120 "dyn reloading to read the config file line by line instead of allocating a fixed 32K buffer."
For more detail please see: #88

[2018-09-25 03:44] #61 closed

[2018-09-25 10:28] pkalever commented on #62
Fixed now.

[2018-09-25 10:28] #62 closed

[2018-09-28 13:11] pkalever commented on #53
Updated my comments at:
https://github.com/gluster/glusterfs/issues/466#issuecomment-425428654

[2018-09-28 13:17] pkalever commented on #53
@lxbsz
As discussed at meeting, if we can just enforce like,
* only the lock owner should be allowed to read/write the backend file and any read/write requests arriving from the non-lock-owner should be simply discarded/failed by glusterfs.

Given glusterfs behave this manner, we don't need any blacklist or watcher right ?

[2018-09-28 14:41] spalai commented on #53
Agree with Prasanna here. The locking mechanism fits here quite right. All we need to do is implement a lock revocation api from gfapi. And tcmu-runner can choose to revoke as it wants. Mandatory lock implementation is already there. Tcmu would need to take full file mandatory lock until is unlocked by the same client or revoked by another.

[2018-09-29 03:08] lxbsz commented on #53
Yeah, right, I just listed the blacklist feature just wanted to have simple and showed what the ceph was doing. In gluster we could just borrow what we need.

[2018-10-03 07:47] nigelbabu opened #124 "Following the exact instructions leads to a compilation error"
The instructions in the README.me leaves me with this error on Fedora 28:

[code]

[2018-10-03 07:49] pkalever commented on #124
Duplicate of https://github.com/gluster/gluster-block/issues/56

[2018-10-03 07:49] #124 closed

[2018-10-03 17:44] ShyamsundarR commented on #53
For Gluster to discard IOs from node-A, it needs to know that node-A does not hold the lock anymore, this is achieved by the lock breaking done by node-B, after which Gluster knows node-A is no longer authoritative and node-B holds the lock.

Now, what prevents node-A from retaking the lock, in 2 scenarios, breaking the lock that node-B has acquired, or assume node-B relinquished the lock and henc

[2018-10-08 06:44] lxbsz commented on #99
@pranithk @pkalever
This fd_async_io option is only for the target/file(LIO/FILE), won't make any sense to the LIO/TCMU.
Thanks.

[2018-10-08 09:51] lxbsz commented on #53
There is one scenario in my mind from what the current code is doing in tcmu-runner:

We should make sure that at any time the lock hold by old owner could be broken by others and released by itself.

When the new node is acquiring the lock, it will register one owner entity to the gluster file's owner list(for our case the owner list will have only one member at any time), and one TAG will be gen

[2018-10-09 10:55] pkalever opened #125 "Support/Remove the stale set of IP's provided as part of create operation"
\# gluster-block create sample/block HA 3 192.168.0.1,192.168.0.2,192.168.0.3,192.168.0.4,192.168.0.5 1GiB

We initially added support for stale IP's for handling faulty node scenarios, but we don't fully support it today.

Either we fix it completely or discard the retry logic with stale entries.

[2018-10-09 10:55] pkalever commented on #125
@bhumikagoyal FYI.

[2018-10-09 13:43] ShyamsundarR commented on #53
Overall a TAG that identifies staleness of the IO/lock is a useful approach.

Who is checking the TAG for staleness here? Gluster or tcmu? Based on which the design needs to evolve appropriately.

Yes, Node-A has pending IO, and no lock (or gets a lock error) and tries to recover its held lock.

Yes.

2 things can happen, tcmu on node-A may not retake the lock, but just fail, or attempt a recovery

[2018-10-10 01:52] lxbsz opened #126 "LIO/TCMU Ringbuffer's cmd_time_out is not working"
Currently there has one cmd timeout timer for each udev in kernel space, and whenever there has any new coming cmd it will update the timer. And for some corner case the timer is always working only for the ringbuffer's newest cmd. That's to say the timer won't be fired even there has one cmd stuck for a very long time.

[2018-10-10 01:54] lxbsz commented on #126
Patchv1:  https://www.spinics.net/lists/linux-scsi/msg123393.html

Patchv2:  https://patchwork.kernel.org/patch/10607127/

[2018-10-10 02:16] lxbsz commented on #53
I am afraid we must do this in Gluster, there have at least 3 cases that will lead the data corruption:
Case1: the stale IOs are already pended in Gluster from node-A, and later the lock is broken by node-B, after node-B already update that data the stale IOs are woken up and update the same data again, then these stale IOs won't under the control by tcmu.

Case2: the stale IOs are pended on the w

[2018-10-10 02:26] pkalever opened #127 "create's rollback exit value is broken"
Actual:
[root@localhost ~]# gluster-block create sample/newblock HA 2 192.168.124.174,192.168.124.11 1MiB
IQN: iqn.2016-12.org.gluster-block:ed63846f-76a4-4852-b1f1-a0bb827fcec3
PORTAL(S):  192.168.124.174:3260 192.168.124.11:3260
ROLLBACK SUCCESS ON: 192.168.124.174
RESULT: SUCCESS

Expected:
[root@localhost ~]# gluster-block create sample/newblock HA 2 192.168.124.174,192.168.124.11 1MiB
IQN: iq

[2018-10-10 07:01] spalai commented on #53
Agreed to the approach of adding lock tags to IOs. This will help server identifying stale IOs and further, it can mark corresponding client fd as BAD.

I guess we will have to do tag checking at server side on Gluster. Once the IOs are cached by Gluster, I am afraid that tcmu will have any control over discarding them.

[2018-10-10 07:42] lxbsz commented on #53
will --> won't ?
If so, yeah, agree.

[2018-10-10 09:00] spalai commented on #53
Yes, will->won't.

[2018-10-10 13:21] ShyamsundarR commented on #53
Clarifying as there are 2 will's in the statement: "I guess we will have to do tag checking at server side on Gluster. Once the IOs are cached by Gluster, I am afraid that tcmu **won't** have any control over discarding them."

[2018-10-17 15:41] obnoxxx commented on #114
@pkalever @pranithk, this repo not having at least a `make` and `make test` run for each PR is problematic, IMHO....

[2018-10-18 06:49] lxbsz opened #134 "prio.info file is missing after upgrade from old version."
prio.info file is missing after upgrade from old version which only has the default alua group support to the newest version which has the load balance support.

[2018-10-18 06:52] lxbsz commented on #134
https://github.com/gluster/gluster-block/pull/128, should we update it here.

At the same we need to update the load-balance count.

[2018-10-18 10:37] amarts commented on #79
@singhwang closing as there is no update on this! Feel free to reopen if it doesn't answer the question.

[2018-10-18 10:37] #79 closed

[2018-10-18 10:45] amarts commented on #22
#83 fixes this right? Should we close this?

[2018-10-18 10:46] amarts commented on #75
#77 should have made a reference here!

[2018-10-18 10:52] amarts opened #136 "Provide an option to fetch the volume info from different place, other than 'localhost'."
In `glfs-operations.c` we have below line:

[code]

For keeping the sanity, we should 'default' to localhost:24007, but user should have an option to fetch the details for the Block Hosting volume from different IP (or hostname). That would allow us to separately host gluster-block from glusterfs bricks, where there is glusterd running.

[2018-10-18 17:23] amarts opened #138 "Error while doing rpmbuild"
[code]

Checked the date, and that should have been `Thu Jun 22 2017`

[2018-10-19 03:37] amarts opened #140 "warnings seen while building..."
$ make dist
$ rpmbuild --quiet -ta gluster-block-0.3tar.gz
In file included from common.h:15:0,
                 from common.c:12:
common.c: In function 'glusterBlockParseSize':
common.c:104:11: warning: format '%lld' expects argument of type 'long long int', but argument 3 has type 'ssize_t {aka long int}' [-Wformat=]
       MSG("The size %lld will align to sector size %d bytes\n",
           ^
u

[2018-10-19 17:52] #114 closed

[2018-10-22 05:53] pkalever commented on #127
works for me.

[2018-10-22 05:53] #127 closed

[2018-10-22 05:56] pkalever commented on #99
Thanks @lxbsz. closing it now.

[2018-10-22 05:56] #99 closed

[2018-10-23 02:54] lxbsz commented on #134
This is because after the new target config has been generated by using the "gluster-block genconfig ..." the gluster-blockd process will be killed, and then we start the gluster-blockd service which will cause the gluster-block-target service to restore the target config by using the "targetctl store", so there is no chance to execute "gluster-block create ..." command to create the prio.info met

[2018-10-23 06:31] #138 closed

[2018-10-23 10:57] pkalever commented on #53
@lxbsz @ShyamsundarR @spalai @amarts This model looks good to me. Thanks!

[2018-10-23 13:03] lxbsz commented on #53
Cool, Looks good to me too.

[2018-10-24 06:58] spalai commented on #53
Alright. Just summarizing here with all the points mentioned above, followed by some technical details.

**Problem**:  The problem we are trying to solve here is to have a single dedicated access to glusterfs from one tcmu-runner instance at a time.
   To handle failover for a connection problem on the initial node (call it node-A)(be it a connection problem between glusterfs to tcmu-runner
on nod

[2018-10-24 07:29] #140 closed

[2018-10-24 08:14] lxbsz commented on #53
I am afraid not, the multipath service will keeping trying to re-establish the connection/session to node-A after disconnection happens. If the node-A is the active path node, the path will fallback once it's available.

[2018-10-24 11:52] #117 closed

[2018-10-25 05:55] spalai commented on #53
Alright, that will leave us with all 3 requirements. I will start working on this and will update when the patches are ready.

[2018-10-25 07:02] #120 closed

[2018-10-26 10:52] soumyakoduri commented on #53
My two cents -

In general by revocation() word, the assumption is that something which server does (lock/state revocation etc)  when client misbehaves or doesnt respond but not done by another client.
 WRT the functionality which is being described here as missing, we had had discussions about the same in past for multi-protocol and HA support and we used to refer to it as reclaim_lock(..).

Desi

[2018-10-26 10:56] soumyakoduri commented on #53
Not to mention in between client2's lock revocation and lock request, there are chances that other third client can acquire lock which can be avoided from reclaim lock.

[2018-10-26 11:32] spalai commented on #53
@soumyakoduri Have posted a patch here https://review.gluster.org/#/c/glusterfs/+/21496/ which does in fact as you mentioned the lk-owner|clientid and sends an unlock request. We can actually merge the getlk and updating of client id|lk-owner.

[2018-11-02 07:45] pkalever opened #149 "block create: default prealloc to full, for better performance"
As of now prealloc is off by default. Should we rather default prealloc to full by default for better user experience ?

@pranithk @vbellur @amarts @nixpanic @obnoxxx @lxbsz thoughts ?

Thanks!

[2018-11-02 07:54] lxbsz commented on #149
If on it by default, in the future the thin provision device supporting won't be a problem ? And also, the prealloc to full option will cost a longer time for the device's creation, will this be a problem for some cases like there are thousands of pods/contianers creation/deletion per second ?

[2018-11-02 10:20] nixpanic commented on #149
As Xiubo mentions, thin-provisioning is something that must be supportable in the future. Defaulting to pre-allocation is now done through Heketi (I think). Not sure how the integration in GD2 looks like, but that should be flexible as well. Good defaults are important, but there need to be ways to request non-default options.

[2018-11-05 03:11] lxbsz opened #151 "list: ignore the vim temporary recovery files"
There is list the hiding files, like:

[root@rhel ~]# gluster-block list dht
block1
block0
block2
block3
.block0.swp
[root@rhel ~]#

[2018-11-05 03:18] lxbsz opened #153 "list: listing all the detail info for the target blocks will make sense ?"
Currently the gluster-block list will only list the target block names, and there are more detail info such as the priopath, size, HA number... Will this make sense here ?

@pkalever @amarts

[2018-11-05 03:28] lxbsz commented on #153
Yeah, make sense and the following is just one simple idea, we may need more options ? Or just adjust it to be more backward compatible.

[code]

[2018-11-05 10:58] pranithk commented on #149
@pkalever +1 from me. Consdering the only usecase for gluster-block is using heketi which creates gluster-block devices with pre-allocation, that seems like a better default than what we have now.

[2018-11-05 12:45] labazza opened #154 "Could not create NetworkPortal in configFS"
i receive this error message in gluster-blockd while trying to configure a glutsre-block device:
`gluster-block create vol_8f27f3d96880c1e4a880c1ed7c5bc8ea/sample-block ha 3 glusterserver001,glusterserver002,glusterserver003 4GiB`

Description:    CentOS Linux release 7.5.1804 (Core)
targetcli Version     : 2.1.fb46
gluster-block Version     : 0.3

Playing manually with targetcli i noticed that th

[2018-11-05 18:30] JohnStrunk commented on #149
- What does "better performance" mean?
  - Random or sequential?
  - 1st write or overwrite?
  - Does the storage media affect whether this is of benefit (hdd/ssd)?
- What is the effect on volume create?
  - Does it change the rate of volume creation?
  - Does it change the latency of creating a 1 TB volume?
- How would this change affect our ability to do thin provisioning in GCS through thin_p,

[2018-11-06 01:57] lxbsz commented on #154
BTW, what is the error messages ? Could you past it here ?
Thanks.

[2018-11-06 07:20] #151 closed

[2018-11-06 07:56] labazza commented on #154
the error from cli utlity:
[code]
the error in gluster-blockd:
[code]
error in /var/log/messages:
[code]

[2018-11-06 08:02] pkalever commented on #154
@labazza gluster-block doesn't support hostnames for now. Could you use IP's instead and give a try.

If you still see the issue, please provide below details,
\# rpm -qa | grep -e gluster-block -e tcmu -e targetcli -e rtslib -e configshell

[2018-11-06 08:37] lxbsz commented on #154
I will push the hostname support patches later, locally the patches almost ready.

[2018-11-06 09:20] lxbsz opened #155 "cli: add hostname support"
Currently only IP address is support for the cli commands:

[code]
The "host",  "old-node" and "new-node" here only the valid ip address will be acceptable.

Will add the hostname support.

[code]

[2018-11-06 12:42] #134 closed

[2018-11-07 04:24] lxbsz opened #158 "When replace fails it shouldn't delete the old-node portial"
]# gluster-block replace dht/block2 192.168.195.164 192.168.195.160
NAME: block2
CREATE FAILED: 192.168.195.160
DELETE SUCCESS: 192.168.195.164
REPLACE PORTAL SUCCESS ON: N/A
RESULT: FAIL

]# targetcli ls

[2018-11-08 06:35] lxbsz commented on #158
@pkalever @amarts

Will the roll back make sense here if fails happen ?

[2018-11-08 09:38] pkalever commented on #158
@lxbsz Can you fix 192.168.195.160 and run sane replace node command again ?
\# gluster-block replace dht/block2 192.168.195.164 192.168.195.160

It should be successful.

[2018-11-12 07:12] lxbsz opened #160 "tcmu-runner: add write same support which will improve the perf of formating the device."

[2018-11-13 05:19] pkalever commented on #160
Yes this is helpful :-) Thanks @lxbsz.

[2018-11-13 05:34] lxbsz commented on #160
[code]
First, enable the DEBUG_SCSI_CMD in /etc/tcmu/tcmu.conf, and then execut:

`]# tailf /var/log/tcmu-runner.log`

Test Case1: with UNMAP bit being set and use WRITE SAME(10)

[code]

We will see the tcmu-runner debug logs as:
[code]

Test Case2: with UNMAP bit being set and use WRITE SAME(16)

[code]
The tcmu-runner debug logs as:

[code]

Test Case3: without UNMAP bit being set and use WRITE

[2018-11-13 05:44] lxbsz commented on #160
And also when the target device is formating will also trigger this:

[code]
Tcmu-runner logs:

[code]

[2018-11-19 02:43] lxbsz opened #164 "gluster-block: add logrotate support"

[2018-11-20 07:57] pkalever opened #166 "gluster-block: Support host-names"
resolve the hostname to ip address stuff in the rtslib or below layers, this way we can function without any issues even when IP change for a given host.

`host_ip = socket.gethostbyname(hostname)  `

[2018-11-20 09:17] lxbsz commented on #166
@pkalever

Use the hostname directly, it fails like:
`Nov 20 16:06:15 rhel3 kernel: malformed ip/port passed: rhel3:3260
`

Did you ever change something in kernel code ? I checked all the commits history about this part of code, all the time only IPv4 and IPv6 addresses are acceptable, not the hostname. Then the tpg portial driver will use the IP address create the ISCSI listening socket in kerne

[2018-11-20 09:47] pkalever commented on #166
@lxbsz your analysis is right. We need to reload the target configuration when the ip address is changed. Mostly the IP binding changes on reboots (IMO) so we shouldn't be worrying much about it.

Thanks!

[2018-11-20 10:05] pkalever commented on #166
@lxbsz something like, should work: (might need additional parsing changes)

[code]

[2018-11-20 10:09] lxbsz commented on #166
I had tried this before, it still the same as my changes in targetcli.
Please see:

[code]

[2018-11-22 13:09] pkalever opened #167 "Implement self-heal to fix block volumes who's operation failed halfway"
More details later

[2018-11-22 13:30] llegolas opened #168 "gluster-blockd refuses to start in openshift pod"
I'm not sure if this is gluster problem or Redhat image being composed strangely but here is the errors I have in glusterfs-storage pod:
oc rsh -n glusterfs glusterfs-storage-72x7s cat /var/log/glusterfs/gluster-block/gluster-blockd.log|grep ERR
[2018-11-22 08:39:51.310904] ERROR: Distro ID="rhel". Minimum recommended kernel version: '3.10.0-862.11.1' and current kernel version: '3.10.0-862.el7.x8

[2018-11-23 01:30] pkalever commented on #168
So what you need to do is to upgrade the kernel to 3.10.0-862.11.1 or higher.

Error will be resoved with kernel-3.10.0-862.11.1, however we recommend kernel version: '3.10.0-862.14.4' which is RHEL 7.5.4 for better experience.

Thanks.

[2018-11-23 02:04] lxbsz commented on #168
Yeah, it is.

[2018-11-23 07:08] pkalever commented on #7
Upto some extent this feature is addressed by https://github.com/gluster/gluster-block/pull/161

[2018-11-23 07:09] pkalever commented on #20
Closing this issue for now, feel free to open, if the query is not resolved. Thanks!

[2018-11-23 07:09] #20 closed

[2018-11-23 07:10] pkalever commented on #22
Fixed-by: https://github.com/gluster/gluster-block/pull/83

[2018-11-23 07:10] #22 closed

[2018-11-23 07:12] pkalever commented on #73
Fixed-by: https://github.com/open-iscsi/tcmu-runner/pull/396

[2018-11-23 07:12] #73 closed

[2018-11-23 07:14] pkalever commented on #84
@BlackoutWNCT could we get the requested information ?

Thanks!

[2018-11-23 07:15] pkalever commented on #105
@Madhu-1 if it works now, we can close this issue. Thanks!

[2018-11-23 07:16] #105 closed

[2018-11-23 07:17] pkalever commented on #154
@labazza cool. Closing this issue for now, feel free to reopen if any of your queries are not resolved here. Thanks!

[2018-11-23 07:17] #154 closed

[2018-11-23 07:18] pkalever commented on #136
Fixed-by: https://github.com/gluster/gluster-block/pull/161

[2018-11-23 07:18] #136 closed

[2018-11-23 07:29] pkalever commented on #153
@lxbsz we have info command to get the additional details. In that case, why do we need to furnish details with list command ? see '# gluster vol list' output

Currently list command output is fetched in one rpc reply from daemon's cli thread, and there are limitations with the rpc reply buffer (may be 4M, not sure), which is why we kept it minimal. See https://bugzilla.redhat.com/show_bug.cgi?id=

[2018-11-23 07:32] pkalever commented on #34
Works for me.

[2018-11-23 07:32] #34 closed

[2018-11-23 07:34] pkalever commented on #78
@lxbsz did we already fix this ?

[2018-11-23 07:36] lxbsz commented on #153
I was thinking it should be more friendly if we can list all the detail info for all the blocks at one time.

Currently the info command need to list them one by one.

[2018-11-23 07:38] pkalever commented on #153
For this, we need to fix https://bugzilla.redhat.com/show_bug.cgi?id=1454412 first.

[2018-11-23 07:40] lxbsz commented on #78
I only hit once, then tried tens of times hasn't reproduce it yet till now.

[2018-11-23 07:41] lxbsz commented on #153
Yeah, make sense.

[2018-11-23 07:57] llegolas commented on #168
yeah, 3.10.0-957 also does. I suppose you can close this.

[2018-11-23 08:10] pkalever commented on #168
@llegolas that must be RHEL-7.6. Sure, that should be okay.

Closing this issue now. T

[2018-11-23 08:10] #168 closed

[2018-11-27 08:30] lxbsz commented on #126
Patchv4: https://www.spinics.net/lists/target-devel/msg17361.html

[2019-03-19 07:32] pkalever opened #183 "Memory Leak"
=================================================================
==19195==ERROR: LeakSanitizer: detected memory leaks

Direct leak of 6 byte(s) in 1 object(s) allocated from:
    #0 0x7f1ddff9ce60 in strdup (/lib64/libasan.so.5+0x3be60)
    #1 0x417c80 in gbStrdup /root/gluster-block/utils/utils.c:462
    #2 0x418206 in glusterBlockConfSetOptions /root/gluster-block/utils/dyn-config.c:176
    #3

[2019-03-26 09:35] pkalever commented on #160
WRITE SAME is already added to tcmu-runner.

Thanks @lxbsz for your work.

[2019-03-26 09:35] #160 closed

[2019-03-26 09:39] pkalever commented on #75
Fixed by: https://github.com/gluster/gluster-block/pull/178

[2019-03-26 09:39] #75 closed

[2019-03-26 16:38] pkalever commented on #43
We should be using https://github.com/gluster/gluster-block-restapi

[2019-03-26 16:38] #43 closed

[2019-03-29 06:25] salamani opened #187 "gluster-block create failure"
I have followed the readme and built glusterblock v0.3 from source.
Following services are running: glusterd, rpcbind & tcmu-runner
 $ gluster-block create block-test/sample-block ha 1 <my_host> 1GiB -d
failed to configure on z-ub18-4 configure failed
RESULT:FAIL

Any extra configuration is need for it?

[2019-03-29 07:41] pkalever commented on #187
@salamani Hi!

Currently gluster-block doesn't work with hostnames, can you please give a try passing IP address ?

like:
`$  gluster-block create block-test/sample-block 192.168.0.5 1GiB --json-pretty

[2019-03-29 08:26] salamani commented on #187
`$ gluster-block create block-test/sample-block 9.12.13.234 1GiB --json-pretty`
{
  "RESULT":"FAIL",
  "errCode":255,
  "errMsg":"failed to configure on 9.47.78.234 configure failed"
}

[2019-03-29 08:42] pkalever commented on #187
@salamani thanks for try this out:

Can you provide below details:

* change GB_LOG_LEVEL to TRACE in /etc/sysconfig/gluster-blockd and restart gluster-blockd, now run
$  gluster-block create block-test/sample-block 9.12.13.234 1GiB --json-pretty

Above step will help collect the debug logs.

* Now please attach below details:
- logs from /var/log/gluster-block
- describe versions of various packa

[2019-03-29 09:48] itisravi commented on #187
[gluster-block-logs.tar.gz](https://github.com/gluster/gluster-block/files/3022000/gluster-block-logs.tar.gz)

I'm hitting the same issue as well. This is on fedora 26 with source install of latest master branches of glusterfs and gluster-block.

[code]

[2019-03-29 10:15] salamani commented on #187
gluster-block create block-test/sample-block 9.12.13.234 1GiB --json-pretty
{
  "RESULT":"FAIL",
  "errCode":255,
  "errMsg":"failed to configure on 9.12.13.234 configure failed"
}

Please find below logs from folder: /var/log/gluster-block
[gluster-blockd.log](https://github.com/gluster/gluster-block/files/3022110/gluster-blockd.log)
[gluster-block-gfapi.log](https://github.com/gluster/gluster-bl

[2019-03-29 13:57] pkalever commented on #187
@itisravi can you please try using some other IP address on host, like 192.168.x.x or 10.70.x.x ?

[2019-03-29 09:43:06.182952] ERROR: glfs_open(sample-block) failed[No such file or directory] [at glfs-operations.c+701 :<blockGetMetaInfo>]

also I see related log:
[2019-03-29 09:43:05.920969] ERROR: backend creation failed for: block-test/sample-block [at block_svc_routines.c+4053 :<blockValidateC

[2019-03-29 14:02] itisravi commented on #187
I had created the gluster volume with 127.0.0.2 IP which @pkalever found was the cause of the issue. After creating the block-test volume with 192.x.x.x IP, it worked for me:

[code]

[code]

[2019-03-29 16:52] pkalever commented on #187
@salamani From the logs you have shared above, I have noticed this:

[2019-03-29 10:02:48.657425] ERROR: glfs_open(sample-block) failed[No such file or directory] [at glfs-operations.c+379 :<blockGetMetaInfo>]

and

[2019-03-29 10:02:48.395668] ERROR: backend creation failed for: block-test/sample-block [at block_svc_routines.c+1963 :<blockValidateCommandOutput>]

Which are very alike to what @iti

[2019-03-30 00:55] lxbsz opened #192 "Timer base and quick LRU will make sense here ?"
@pkalever @amarts

Currently gluster-block is using the list to host the LRU entries and there is also no timeout, and nbd-runner has support this, please see [1].

Will the timer base and LRU make sense in gluster-block project ? If it is okay I will add this in the gluster-block project.

Thanks,

[1] https://github.com/gluster/nbd-runner/pull/64

[2019-03-31 10:21] salamani commented on #187
I am still facing same issue
$ gluster  v info
Volume Name: block-test
Type: Distribute
Volume ID: 8e573d92-b89f-4bc0-820a-9cf37b767f23
Status: Started
Snapshot Count: 0
Number of Bricks: 1
Transport-type: tcp
Bricks:
Brick1: 9.12.13.234:/tmp/block
Options Reconfigured:
transport.address-family: inet
nfs.disable: on
cluster.brick-multiplex: off

$ gluster-block create block-test/sample-block 9.12.

[2019-04-01 05:21] pkalever commented on #192
@lxbsz what problem does this feature solve for us ?

Thanks!

[2019-04-01 05:25] lxbsz commented on #192
Just one enhancement, there is no any issue for the old code.

[2019-04-01 05:27] pkalever commented on #192
Exactly! lets not get this now, we can think about this as needed. Thanks for proposing this here.

[2019-04-01 05:38] pkalever commented on #187
@salamani but you seem to be using the same IP address as before '9.12.13.234'

Can you check/paste
$ ip route
$ ip addr

Commands to see the primary/Other IP's associated with the node ?

Thanks!

[2019-04-01 06:10] lxbsz commented on #192
That's okay for me :-)

[2019-04-01 06:10] #192 closed

[2019-04-01 06:27] salamani commented on #187
I have tried on new machine `9.47.78.234`, logs and issue is exactly same as with `9.12.13.234` before.
$`gluster-block create block-test/sample-block 9.47.78.234 1GiB --json-pretty`
{
  "RESULT":"FAIL",
  "errCode":255,
  "errMsg":"failed to configure on 9.47.78.234 configure failed"
}

$ `gluster v info`
Volume Name: block-test
Type: Distribute
Volume ID: 07c917ac-4ba8-43de-bdab-b8d2ae0ddaf8
Sta

[2019-04-01 06:43] pkalever commented on #187
Can you try it with below command:

`$ gluster-block create block-test/sample-block-1 172.17.0.1 1GiB --json-pretty`

Thanks!

[2019-04-01 07:56] salamani commented on #187
$`gluster-block create block-test/sample-block-1 172.17.0.1 1GiB --json-pretty`
{
  "RESULT":"FAIL",
  "errCode":255,
  "errMsg":"failed to configure on 172.17.0.1 configure failed"
}

[gluster-block-cli.log](https://github.com/gluster/gluster-block/files/3028246/gluster-block-cli.log)
[gluster-block-configshell.log](https://github.com/gluster/gluster-block/files/3028247/gluster-block-configshell.

[2019-04-01 10:16] pkalever commented on #187
@salamani Strange!

From the gfapi.log I see:
[code]

From path '/usr/local/lib/libglusterfs.so.0' It looks like you have glusterfs installations from source and .deb package (coz gluster-block look for this) ? Can you uninstall the source install binaries/libraries and just install from .dep package only ?

and the error:
ERROR: glfs_open(sample-block-1) failed[No such file or directory] [at glfs

[2019-04-02 04:13] #149 closed

[2019-04-02 04:20] salamani commented on #187
@pkalever I built glusterfs from source and created the service to run.
$ `gcc -lgfapi ./tests/gfapi-test.c -o ./tests/gfapi-test`
/tmp/cccJPZFg.o: In function `main':
gfapi-test.c:(.text+0x7e): undefined reference to `glfs_new'
gfapi-test.c:(.text+0x114): undefined reference to `glfs_set_volfile_server'
gfapi-test.c:(.text+0x19a): undefined reference to `glfs_set_logging'
gfapi-test.c:(.text+0x20

[2019-04-02 10:17] pkalever commented on #38
@Oliver-Chang ping!
Do you still face the problem ?

[2019-04-02 10:26] pkalever commented on #37
Have tested this on latest master and it works for me. Hence close this as resolved. Thanks for reporting.

[2019-04-02 10:26] #37 closed

[2019-04-02 10:27] pkalever commented on #84
@BlackoutWNCT ping!

[2019-04-02 10:30] BlackoutWNCT commented on #84
You guys asked me to upload logs for something 3 months after it had been reported.
Those logs no longer exist.
I also no longer work for that company, and so am no longer able to investigate this issue.
Please just close this issue.

[2019-04-02 10:30] #84 closed

[2019-04-02 10:35] pkalever commented on #84
@BlackoutWNCT sorry for the delay! Somehow this got lost.

You should Feel free to ping back when you don't get a reply in a week or so.

Anyways, what was the usecase ? at-least this will help us improve our regression tests in that direction.

Thanks!

[2019-04-02 10:38] pkalever commented on #95
Cool;

Feel free to try the latest master (has lot many bug fixes) for better user experience.

Closing this now.

[2019-04-02 10:38] #95 closed

[2019-04-02 10:45] BlackoutWNCT commented on #84
My end goal with this was to use glusterblock to expose a number of iSCSI LUNs to a Windows Server 2012/2016 Hyper-V cluster for use in a HA DR cluster.

[2019-04-02 10:47] pkalever commented on #84
Appreciate you response.
Thanks for sharing your usecase with us.

[2019-04-02 10:54] pkalever commented on #78
We tried this enough and still couldn't reproduce this with our latest master.

There are lot many stability fixes went in latest master since a while.
As we couldn't reproduce this with our decent testing efforts, closing this as fixed by misc patches.

When you hit this next time, please do attach the coredump or backtrace.

Many thanks for reporting.

[2019-04-02 10:54] #78 closed

[2019-04-02 10:56] pkalever commented on #126
@lxbsz looks like this is fixed now. Can we close this ?

[2019-04-02 11:05] pkalever commented on #187
@salamani sounds good.

Could you share your environment details requested above. We can try reproducing this and get back to you.

Thanks!

[2019-04-03 04:19] lxbsz commented on #126
Yeah, we need to downstream it to RHEL zstream. I will do it later.

[2019-04-03 04:19] #126 closed

[2019-04-03 05:21] lxbsz commented on #183
This is okay, no any memory leak here, please see the code:

[code]

Same here, the code is trying to dup memory to the options, which will be hosted and live along with the gluster-bockd daemon.

Same here.

Same here no memory leak.

I go through the whole code of this didn't find any leak.

same here.

same here.

same here.

same here.

@pkalever Did I missed something here ? Couldn't find any

[2019-04-03 06:46] pkalever commented on #183
At the quick glance I cannot find anything too. Lets get back to this later.

[2019-04-03 09:17] lxbsz opened #199 "Add logDir dyn support in gluster-block and tcmu-runner"
This is missed currently, will add this later.

### Kind of issue
Feature request

### Observed behavior
The log directory path is not configurable through the /etc/sysconfig/gluster-block config file.

### Expected/desired behavior
The logDir is configurable and will change without restarting the gluster-blockd service.

### Details on how to reproduce (minimal and precise)
Currently the dyn conf

[2019-04-03 09:21] pkalever commented on #199
@lxbsz should we use the ISSUE/FEATURE template, so that it make much sense for others ?

Thanks!

[2019-04-03 09:25] lxbsz commented on #199
Make sense and I will check this.
Thanks.

[2019-04-04 13:26] salamani commented on #187
$`glusterd --version`
glusterfs 5.3
$ `targetcli --version`
/usr/bin/targetcli version 2.1.fb43
$`tcmu-runner --version`
tcmu-runner 1.4.0
$ `python --version`
Python 2.7.15rc1
$ `uname -a`
Linux ub28 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
$`cat /etc/os-release`
NAME="Ubuntu"
VERSION="18.04 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_N

[2019-04-08 04:16] salamani commented on #187
@pkalever any updates on this?

[2019-04-15 05:03] lxbsz opened #204 "Failed to delete the blocks due to the data couldn't flushed in time"
### Kind of issue

 Bug

### Observed behavior
When deleting the block volume it failed and the logs like:
[code]

### Expected/desired behavior
Delete successfully.

### Details on how to reproduce (minimal and precise)
Create and then delete the blocks in the bash script.

### Logs and Information about the environment:

[code]
By adding more logs manually we can see that, from the metafile it s

[2019-04-15 07:21] lxbsz commented on #204
@amarts @pkalever

It seems the glfs_fsync and glfs_fdatasync do not work here also.

This issue is:

pthread_create(&tid, glusterBlockDeleteRemote, ); // in glusterBlockDeleteRemote() it will update the metadata file in block-meta/metafile

pthread_join(tid);

blockGetMetaInfo(); // here will read the block-meta/metafile, but it reads the old data sometimes.

And I have tried to glfs_fsync/fdatas

[2019-04-16 04:50] lxbsz commented on #204
For the modify I can also hit the same issue in the same client with multi-precesses, here is the gluster-blockd and tcmu-runner.

We do glfs_ftruncate in gluster-blockd and then in tcmu-runner to check the size by using the glfs_lstat with getting the old size, but from the mountpoint's ls command, we can see that the size is already upated to new one.

[2019-04-16 05:01] lxbsz commented on #204
Fixed this in tcmu-runner: https://github.com/open-iscsi/tcmu-runner/pull/546.

[2019-04-16 05:42] #76 closed

[2019-04-16 05:42] #118 closed

[2019-04-17 11:55] inevity opened #212 "fail build master :WARNING: unrecognized options: --enable-tirpc"
Centos 7.6
if --enable-tirpc = no ,omit error as titel.
if ----enable-libtirpc= no, build with tirpc.

[2019-04-17 12:12] pkalever commented on #212
Hello @inevity,

Hopefully you are running the latest master code.

I can see that the latest build for master with travis CI succeeds on centos7 newer docker image with kernel-3.10.0-957.10.1.el7.x86_64

Details: https://travis-ci.com/gluster/gluster-block/builds/108668129#L2575

Did you run autogen.sh after pulling the latest code by the way ?

\# make distclean
\#./autogen.sh  && ./configure --

[2019-04-17 12:19] pkalever commented on #212
@inevity Just in case, if you are giving space before and after '=' with flag '--enable-tirpc', then you should look for that :-)

This is wrong:
[code]

You should change it to:
[code]

[2019-04-17 16:43] inevity commented on #212
Look at line 2773@pkalever

[2019-04-18 06:25] salamani commented on #187
any updates here

[2019-04-18 07:06] lxbsz commented on #187
@salamani
It seems it is the same with https://github.com/gluster/gluster-block/pull/209 from you logs.

[2019-04-18 07:28] lxbsz commented on #187
Sorry, please ignore this.

[2019-04-18 08:38] inevity commented on #149
For EC volume which did not support zerofill op , if run create cmd with prealloc full,the command will fail,
So it is sensible to let use to supply the value?

[2019-04-18 09:36] nixpanic commented on #149
On Thu, Apr 18, 2019 at 01:38:10AM -0700, baul wrote:

EC/disperse does still not support zerofill. I expected that
gluster-block does a fallback when it errors out. This should be the
case for tcmu-runner as well... If some operations trigger
glfs_zerofill(), those will all fail on EC/disperse volymes.

I am not sure if fallbacks are in place everywhere, so it may not be
sufficient to turn off pr

[2019-04-18 11:25] pkalever commented on #187
@salamani Although we never supported gluster-block on ubuntu, may be its time, we should update the README guide to help others about how to install gluster-block and get it running on Ubuntu. I had seen the pain today :-(

Will update this issue later with the steps I followed to install gluster-block on ubuntu 18.04.02, which might at-least help easily point as a reference.

I have started from

[2019-04-18 12:02] pkalever commented on #212
@inevity thanks for reporting the issue, should be fixed with #214

[2019-04-18 12:29] #212 closed

[2019-04-18 12:44] pkalever opened #215 "How to bring-up gluster-block on Ubuntu ?"
Steps to bring gluster-block up and running on ubuntu (tested on 18.04):
----

[ Lets create a doc based on this later ]

Env details:
[code]

Installing gluster-block build time dependencies:

[code]

Compiling from source and installing:
[code]

Tcmu-runner and targetcli are runtime dependencies, lets install them:

[code]

targetcli, rtslib, configshell packages available on on ubuntu are way o

[2019-04-18 12:46] pkalever commented on #187
Created a new issue for reference guide: https://github.com/gluster/gluster-block/issues/215

[2019-04-18 12:49] pkalever commented on #187
@salamani feel free to review and share your experience/thoughts on #215

[2019-04-18 13:44] pkalever commented on #149
To confirm, at the moment fallback mechanism is not in-place.

But I'm doubtful that silently falling back to prealloc-off could be an issue ?

As users might see additional free space on these BHV volumes, when calculating the space usage b/w zerofill supported volumes and non-supported volume and might wonder about the diff.

@nixpanic @amarts @lxbsz @pranithk @inevity Do we have some preference

[2019-04-18 14:07] nixpanic commented on #149
I suggest to log the failure of `glfs_zerofill()` and in case it is `ENOTSUP` do a slow write of all zeros to the file (maybe log a warning that it will be slow?).

The option for prealloc is there, and it does not say that it will use zerofill or some other efficient method. Just denying because some type of volume/configuration does not support it seems very user unfriendly to me.

[2019-04-19 02:31] lxbsz commented on #149
Yeah, this make sense to me. In tcmu-runner we have already supported something like this, such as for the WRITESAME SCSI command with zeroed data and if the handler doesn't support the zerofill, it will fall back to the slow path by writing one by one.

[2019-04-22 05:16] salamani commented on #215
@pkalever Above steps are good for ubuntu. I am able to create the gluster-volume now. Only thing is that I had to copy service files manually and them.

[2019-04-22 06:06] pkalever commented on #215
@salamani have you noticed '--with-systemddir' flag to configure in my above steps ?
\# ./configure --with-systemddir=/usr/lib/systemd/system --enable-tirpc=no

That should do it for you. Try '# make distclean' and then start fresh.

[2019-04-22 11:14] pkalever opened #219 "Upstream Jenkins job which get triggered at PR level"
### Kind of issue

Infra request:

Need a Jenkins job which should run per PR (and may be more events like, refresh of PR) to help figure out any possible regressions and to help build overall confidence of upstream master branch.

### Other useful information

To start with, we can build like we do with [travis](https://github.com/gluster/gluster-block/blob/master/extras/docker/Dockerfile.fedora2

[2019-04-22 11:23] deepshikhaaa commented on #219
Where we will be running these regressions?
centos.ci?

[2019-04-22 11:29] pkalever opened #220 "Setup GCOV & LCOV job"
### Kind of issue

Infra request:

Setup GCOV & LCOV job which should run nightly or weekly to help visualize test & line coverage achieved, which intern help us understand:

* how often each line of code executes
* what lines of code are actually executed
* how much computing time each section of code uses

and work on possible optimizations.

### Other useful information

To start with, we can b

[2019-04-22 11:39] pkalever commented on #219
@deepshikhaaa where do we run the jenkins job to for regression tests for glusterfs ? centos.ci ?

I would love to see one running on fedora, as most of kernel and user land packages appears there first.
But I'm not sure if we have machines to runs the job on fedora instances.

@amarts thoughts ?

[2019-04-23 05:12] pkalever commented on #149
@nixpanic makesense to me.

@inevity good catch. Do you have plans about sending out a patch for this ?

[2019-04-24 04:33] deepshikhaaa commented on #219
No, we do run glusterfs regression jobs on our jenkins server. I'm asking this because we do have running few gluster-block jobs on centosci.

[2019-04-24 04:36] pkalever commented on #219
How frequently these gluster-block jobs in centosci run ? can you share the link here, we are not aware about this ?

@deepshikhaaa if we are running glusterfs regression jobs on our jenkins server, can we share the same with gluster-block ?

Thanks!

[2019-04-24 05:57] sankarshanmukhopadhyay commented on #219
There is quite a mix of things here and also, ideally this should be a RHBZ on the project-infrastructure component (I'm not exactly sure, but it seems that way)

- it would likely to be more efficient to have this set up to consume the CentOS CI infrastructure
- I do not recollect whether we have existing jobs against a Fedora target. I see the value and rationale for this specific component. But

[2019-04-24 06:00] sankarshanmukhopadhyay commented on #220
Seems like a RHBZ on project-infrastructure that is needed. To confirm, you expect a listing similar to https://build.gluster.org/job/line-coverage/Line_20Coverage_20Report/

[2019-04-25 02:12] inevity commented on #149
Oh, have leave some days missing those progress.
Will follow your progress. And if some time have ,will patch" the Implement zerofill fop in disperse volumes"

[2019-04-25 02:33] lxbsz commented on #149
@inevity
Prasanna have raised one new PR to address it, please see #223.

Thanks.

[2019-04-26 08:30] #199 closed

[2019-04-26 12:13] pkalever commented on #220
Yes, this is the expectation.
Here is the bug: https://bugzilla.redhat.com/show_bug.cgi?id=1703433

Thanks!

[2019-05-09 07:36] pkalever opened #236 "logo for gluster-block ?"
![gluster-block-logo](https://user-images.githubusercontent.com/12432241/57435437-0b60e280-725b-11e9-8534-80217f7deee8.png)

This would be my proposal, feel free to propose your :-)

Lets sort this out in a week or so.

[2019-05-09 07:47] lxbsz commented on #236
@pkalever

Cool and the blocks are very vivid here for the gluster-block project.
This looks nice to me.

Thanks.

[2019-05-09 07:55] pkalever commented on #236
@lxbsz its not that simple to skip so easily.  I'm expecting one from you too :-)

I know, its out of our expertise, but believe me, it's gonna be lots of fun, let's be sportive here and append our logo of choice to this page.

Cheers!

[2019-05-09 08:11] lxbsz commented on #236
@pkalever

Yeah, true. I am not good at this :-(
And I will have a try if I can get one.

Thanks.
BRs

[2019-05-09 08:12] nixpanic commented on #236
Maybe @tigert has an idea?

[2019-05-09 14:37] pkalever commented on #167
@lxbsz please use this issue, for adding details about the detailed design. Thanks!

[2019-05-09 14:41] lxbsz commented on #167
@pkalever
Sure, I have gone through the design doc and also the selfheal design in glusterfs AFR. Should begin try to code this next week.

Thanks.

[2019-05-09 14:50] pkalever commented on #167
@lxbsz

The current design doc is missing basic details like for example, if we are maintaining the details about the block volumes list which needs healing in the block hosting volume, then where actually we maintain the complete list of such block hosting volumes, so that the self-heal thread get the details of block volumes needing heal ?

Also it has many unaddressed comments left. Hence I req

[2019-05-13 03:11] lxbsz commented on #167
Yeah, IMO, sometimes maybe we can just try to code and it will be more clear for the basic detail then.

No problem.
Thanks.

[2019-05-17 11:55] salamani commented on #215
Above steps are good! My sincere apologies for it taking so long to confirm it.

[2019-05-17 12:42] pkalever commented on #215
@salamani no problem and I'm glad that it worked for you. Thanks for confirming.

[2019-06-03 07:12] AnitaNayak opened #239 "gluster-block on s390x support"
I tried to build gluster-block on s390x. There are few dependencies which needs to be available such as tcmu-runner. I am trying to build gluster-block inside a Dockerfile `clefos:7` . Then I found fedora packages for glusterfs-block along with tcmu-runner. I tried fedora packages to install on `clefos:7` and was able to install the rpm. I think clefos Image is built from `Fedora+CentOS`.
Here my

[2019-06-03 09:35] AnitaNayak commented on #239
Able to build tcmu-runner and gluster-block on clefos:7, with one modification:

1. Added `AM_PROG_CC_C_O` to configure.ac file under section `# Checks for programs.`

Post that it built successfully.
But I need to build the rpms for gluster-block. Any reference to build this would help me a lot.

Thank you.

[2019-06-03 11:39] amarts commented on #239
`make rpms`

The above after a successful `./configure` should be enough.

[2019-06-03 14:29] AnitaNayak commented on #239
Thank you. It worked.

[2019-06-19 06:09] pkalever opened #241 "use 24 hours format UTC time in PrintLogs of wait-for-bricks and upgrade script"
### Kind of issue

Bug:

Right now gluster-block-bricks-start.log and gluster-block-upgrade-activities.log prints logs in 12 hours format.

Thanks to @pranithk for pointing this out.

### Observed behavior
PrintLog is using 0..12 i.e. %I instead of 0..23 i.e. %H for printing hours.

### Expected/desired behavior
Logs should be in 24 hours and in UTC

Bug: https://bugzilla.redhat.com/show_bug.cgi?i

[2019-06-21 13:37] #241 closed

[2019-10-24 10:38] ateleshev opened #255 "Segmentation fault in debian container"
When I run gluster-blockd in debian container, I receive - Segmentation fault

### Kind of issue
Bug

### Observed behavior
[code]

### Details on how to reproduce (minimal and precise)
[code]

### Logs and Information about the environment:
- gluster-block version used: master or v0.4
- other dependencies version
  - glusterfs: 7.0
  - tcmu-runner: master
  - targetcli: master
  - python-rtslib:

[2019-10-30 12:27] pkalever commented on #255
@ateleshev could you please provide a better trace may be using '# valgrind --track-origins=yes /usr/local/sbin/gluster-blockd' ?

[2019-10-30 14:54] ateleshev commented on #255
@pkalever yes, of course
[code]
And, the same in verbose mode:
[code]

[2019-10-30 16:29] ateleshev commented on #255
@pkalever and here is log data
[code]

[2019-10-31 11:58] pkalever commented on #255
@ateleshev cool. yes the make install should have created it based on the prefix, feel free to send a PR.

Atleast in RHEL, Centos and Fedora,

[code]

DATADIR will be '/var' thus GB_INFODIR would expand to /var/run/, that is why may be we are lucky and didn't hit this before.

Cheers!

[2019-11-05 00:57] lxbsz opened #257 "The RINGBUFFER and BLOCKSIZE in metafile are missed"
### Kind of issue
Feature request

### Observed behavior
There is no any thing about the RINGBUFFER and BLOCKSIZE in the meta file.

### Expected/desired behavior
If user has specify them we should see them in the meta or the gluster-block info.

### Details on how to reproduce (minimal and precise)

### Logs and Information about the environment:

### Other useful information

[2019-11-22 21:17] poxin13 commented on #187
Having a similiar issue here, followed steps in #215

[code]

[gluster-block-cli.log](https://github.com/gluster/gluster-block/files/3881473/gluster-block-cli.log)
[gluster-block-configshell.log](https://github.com/gluster/gluster-block/files/3881474/gluster-block-configshell.log)
[gluster-blockd.log](https://github.com/gluster/gluster-block/files/3881475/gluster-blockd.log)
[gluster-block-gfapi.l

[2019-12-03 17:26] poxin13 opened #258 "Unable to create block in CentOS 7 or Fedora 31"
Getting same error on both systems due to outdated targetcli/rtslib, etc. Latest version installed via yum or dnf. Not sure how to proceed. Do they need complied from source?

`gluster-block create gv0/block-volume ha 3 10.3.34.100,10.3.34.101,10.3.34.102 1GiB`

[code]
[code]

[2019-12-03 18:58] poxin13 commented on #258
Compiled latest versions from source, no issues on starting of services.
[code]
[code]

[gluster-blockd.txt](https://github.com/gluster/gluster-block/files/3918167/gluster-blockd.txt)
[gluster-block-configshell.txt](https://github.com/gluster/gluster-block/files/3918168/gluster-block-configshell.txt)
[gluster-block-gfapi.txt](https://github.com/gluster/gluster-block/files/3918169/gluster-block-gfa

[2019-12-04 01:51] lxbsz commented on #258
Hi, Could you see any errors in the tcmu-runner*.log ?

[2019-12-04 01:56] poxin13 commented on #258
These are from tcmu-runner.log and tcmu-runner-glfs.log
[code]

[code]

[2019-12-04 02:00] lxbsz commented on #258
What's version of your gluster packages ?

At the same time please revert https://github.com/open-iscsi/tcmu-runner/commit/6db2a468c62b8828aacce57e75e24e3846a9d9fe and have a try.

Thanks.

[2019-12-04 02:56] poxin13 commented on #258
glusterfs 7.0
tcmu-runner 1.5.2

I'll try that suggestion next

[2019-12-04 03:46] poxin13 commented on #258
Reverted to open-iscsi/tcmu-runner@6db2a46
[code]

tcmu-runner.log
[code]

gluster-block-configshell.log
[code]

gluster-blockd.log
[code]

gluster-block-gfapi.log
[code]

[2019-12-04 03:53] lxbsz commented on #258
You seem not revert it or there has something wrong with your operations, I still can see the glfs_fsetxattr error.

If the revert is successful, there shouldn't have this error.

You should make the tcmu-runner and install/restart it.

[2019-12-04 04:27] poxin13 commented on #258
Attempted again, can confirm the original was removed, and reinstalled with that commit.
Verified glfs.c file line 605 to spot check if `if (ret < 0 || ret != length) {` was removed for example. Same error as before.

[code]

[2019-12-04 04:38] lxbsz commented on #258
[code]

You should reset --hard to "f8a81e9a77ee5c8f803a0bd6e9ac72479ab8bd20" instead.

[2019-12-04 04:51] poxin13 commented on #258
Thank you @lxbsz.
[code]

[2019-12-04 05:17] lxbsz commented on #258
The lock relating code in gluster has been released since 7.6.6, so for 7.0 version the GFAPI_VERSION766 shouldn't be set in tcmu-runner, but from your result it seem there has bugs.

[2019-12-05 14:51] poxin13 commented on #38
I'm able to mount a block device in windows and get it setup using initiator, though I don't think it's using multipath. Under discovery -> target portals each IP is added of the block device. In the linux tutorials it seems only one IP is needed and the rest are discovered. Anyone have insight how to get that part working in windows?

[2019-12-10 20:46] bluecmd commented on #215
I had to install libglusterfs-dev as well.

[2019-12-10 21:21] bluecmd opened #260 "gluster-block uninstallable on Fedora 31 from dnf"
Using a clean Fedora 31 at 2019-12-10:

[code]

[2019-12-10 21:28] bluecmd commented on #260
Seems that for rtslib it's fine to just replace with `python3-rtslib` as python is symlinked to python3. But for configshell the python3-configshell package is too old for this to work (complains of lacking __version__ e.g.).

[2019-12-11 01:37] lxbsz commented on #260
Not test the gluster-block in f31 yet. You may could build and install all of them from the source.

[2020-01-04 05:09] lenhardtx opened #262 "Centos8 - ImportError: cannot import name '__version__'"
### Kind of issue

Bug

### Observed behavior
Jan 04 02:45:35 glusterfs.localdomain gluster-blockd[6717]: Traceback (most recent call last):
Jan 04 02:45:35 glusterfs.localdomain gluster-blockd[6717]:   File "<string>", line 1, in <module>
Jan 04 02:45:35 glusterfs.localdomain gluster-blockd[6717]: ImportError: cannot import name '__version__'

### Expected/desired behavior
systemctl start gluster

[2020-01-06 09:28] pkalever commented on #262
@lenhardtx

Patch 1:

[code]

Is part of rtslib version 2.1.70

and

Patch 2:

[code]

Is part of configshell version 1.1.26

IMO, the issue that you are facing will be fixed by Patch 2 above in configshell, but it will be nice to have Patch 1 as well.

Please upgrade your targetcli/rtslib/configshell dependencies to latest masters, that should solve it for you.

[2020-01-06 13:10] lenhardtx commented on #262
update configshell fix the problem as you said. Thank you.

[2020-01-06 13:10] #262 closed

[2020-01-27 18:31] #258 closed

[2020-02-12 14:58] lgl0707 opened #263 "Did not receive any response from gluster-block daemon. Please check log files to find the reason"
create and delete
create again
gluster-block will block,wait for a while:Did not receive any response from gluster-block daemon. Please check log files to find the reason

Partial log:
[2020-02-12 12:37:45.797403] ERROR: block remote create2 call failed: RPC: Timed outon host 192.168.7.111 [at block_svc_routines.c+545 :<glusterBlockCallRPC_1>]
[2020-02-12 12:37:45.819555] ERROR: failed in remote c

[2020-05-15 07:33] cnewtonEncompass opened #276 "Trouble formatting Gluster Block"
After following all the instructions at https://pkalever.wordpress.com/2019/05/06/starting-with-gluster-block/, I run into an error when running the mkfs.xfs formatting (also tried mxfs.ext4)

I have a feeling this is something really simple but cannot find any information on the web about it.
[root@atl-gluster-04 glusterfs]# mkfs.xfs /dev/sds
meta-data=/dev/sds               isize=512    agcount=

[2020-05-15 07:52] pkalever commented on #263
What version of gluster-block are you running?
Can you try to describe more details about your environment, that will help narrow down the issue.

[2020-05-15 07:54] pkalever commented on #260
@bluecmd we are currently working on this https://bugzilla.redhat.com/show_bug.cgi?id=1830514

Meanwhile you can download the rpms from https://koji.fedoraproject.org/koji/packageinfo?packageID=24885

[2020-05-15 07:57] pkalever commented on #257
@lxbsz can we close this, please?

[2020-05-15 07:57] lxbsz commented on #276
Hi @cnewtonEncompass

Do you have any target side dmesg and tcmu-runner/tcmu-runner-glfs logs ?

[24936.040458] sd 13:0:0:0: [sds] Sense Key : Medium Error [current]

It seems there has some stories in the backend ...

[2020-05-15 07:58] lxbsz commented on #257
Sure, will close it.

[2020-05-15 07:58] #257 closed

[2020-05-15 07:59] pkalever commented on #255
Closing this now, feel free to open if required. Thanks!

[2020-05-15 07:59] #255 closed

[2020-05-15 07:59] #87 closed

[2020-05-15 08:00] pkalever commented on #96
closing this, open if required later.

[2020-05-15 08:00] #96 closed

[2020-05-15 08:01] pkalever commented on #103
Never seen this before, closing this, for now, open if required later.

[2020-05-15 08:01] #103 closed

[2020-05-15 08:02] pkalever commented on #220
We have https://ci.centos.org/view/Gluster/job/gluster_block-lcov/

Thanks @deepshikhaaa

[2020-05-15 08:02] #220 closed

[2020-05-15 08:04] pkalever commented on #116
Not a priority, for now, we are recommending to shrink the backend file manually and getting this worked around. Feel free to open it or send a PR to automate this. Closing this for now.

[2020-05-15 08:04] #116 closed

[2020-05-15 08:05] pkalever commented on #183
Not seen this for a while now, closing it. Feel free to open later.

[2020-05-15 08:05] #183 closed

[2020-05-15 08:07] pkalever commented on #125
Fixed by : https://github.com/gluster/gluster-block/pull/248

[2020-05-15 08:07] #125 closed

[2020-05-15 08:08] #239 closed

[2020-05-15 08:08] #204 closed

[2020-05-15 08:09] pkalever commented on #158
I hope it worked for you, if not please open this again later. Thanks!

[2020-05-15 08:09] #158 closed

[2020-05-15 08:15] pkalever commented on #187
I hope there is nothing remaining to be taken care, closing this now.

[2020-05-15 08:15] #187 closed

[2020-05-15 08:17] pkalever commented on #153
I would like to leave it as it is for now. Feel free to open it later if needed. Thanks!

[2020-05-15 08:17] #153 closed

[2020-05-15 08:18] pkalever commented on #56
fixed by: https://github.com/gluster/gluster-block/pull/182

[2020-05-15 08:18] #56 closed

[2020-05-15 08:19] #8 closed

[2020-05-15 08:32] pkalever commented on #164
Fixed by: https://github.com/gluster/gluster-block/pull/163

[2020-05-15 08:32] #164 closed

[2020-05-15 08:33] #46 closed

[2020-05-15 09:34] #236 closed

[2020-05-15 09:36] pkalever commented on #219
@deepshikhaaa do we have any progress on this?

[2020-05-15 09:37] pkalever commented on #55
We are not going to make this in the near future, closing it now. Thanks!

[2020-05-15 09:37] #55 closed

[2020-05-19 02:28] #263 closed

[2020-06-11 18:22] ismo-conguairta commented on #215
I'm testing installation on Debian 10 and even enabling `--with-systemddir=` results in no unit-service-files in right directory.
This happens because:
- in Debian the `/usr/lib/systemd/system` is invalid while the right path is `/lib/systemd/system`
- the following lines (30, 31) in `configure.ac`.
[code]

I think it's better to change the previous lines as the following by replacing every occurr

[2020-10-08 17:21] davidsbond commented on #215
I'm trying to build `gluster-block` on Ubuntu 20.04.1 LTS (focal)

I'm failing at the `configure` step:

[code]

Any tips on how to fix? I seem to already have `sudo apt install libgfapi0` installed.

[2020-10-09 07:10] pkalever commented on #215
@davidsbond this means at build time it is not able to find the gfapi library in the standard library paths, could you try exporting your library path and export it as needed?

[2020-10-15 10:08] perrynzhou opened #282 "configure: error: gfapi library >= 3.6 is required to build gluster-block"
@pranithk  @pkalever pkaleverpkalever i build glusterfs with source,but when i install gluster-block failed?how to solove that?

- glusterfs build with source

[code]
- glusterfs libs

[code]
- err logs
[code]

[2020-10-15 10:16] pkalever commented on #282
@perrynzhou Yeah, I think I have seen this before with some other user too.
When you are compiling glusterfs from source please use flag `--prefix=/usr` at the configure, and then retry compiling gluster-block.

[2020-10-15 10:47] perrynzhou commented on #282
@pkalever  the same error

- glusterfs install with 'CFLAGS="-ggdb3 -O0"  ./configure --prefix=/usr   --enable-debug --enable-gnfs'

[code]

[code]

[2020-10-15 11:25] pkalever commented on #282
check the location of libgfapi.so library.

[2020-10-16 06:18] perrynzhou commented on #282
@pkalever  that is a bug.change LD_LIBRARY_PATH still happen

[code]

[2020-10-17 02:00] perrynzhou commented on #282
@pkalever may you help me how to solove it?

[2020-10-17 07:01] perrynzhou opened #283 "just support create block on replica volume?"
## @pranithk @pkalever  gluster-block service just support create block service on replica volume?when i create block on distribute volume,that is failed

[2020-10-19 05:58] pkalever commented on #283
@perrynzhou

Yes, we recommend glusterfs volume with replica 3 and group profile gluster-block applied.

[code]

[2020-10-20 09:17] perrynzhou commented on #282
@pkalever  that always has problem？how to fixed that problem

[2020-10-20 09:19] perrynzhou commented on #283
@pkalever  is any plan to support create block on distribute volume? that match to glusterfs service.

[2020-10-20 10:14] pkalever commented on #282
@perrynzhou this looks like environment-related, can you add details about your working environment and reproducer steps? I will have to try to reproduce it locally.

[2020-10-20 10:15] pkalever commented on #283
Not really, it needs much more testing efforts.

[2020-11-09 12:05] jonahbohlmann commented on #105
@pkalever I have the same issue. I followed the guide in the readme from master branch.

Any idea?

[code]

[code]

[code]

`gluster-blockd (0.5.1)`

[2021-01-26 22:12] buhtux commented on #215
Same issue here, figured out: `libglusterfs-dev` needs to be installed.

[2021-01-27 08:39] perrynzhou commented on #283
@pkalever  i think that should support all types of volume ,such distribute volume/ec volume/replica volume

[2021-01-27 08:54] perrynzhou opened #285 "gluster-block is not update and maintain?"
gluster-block project already not update for long time.that means not update at all?or not maintain glsuter-block at all?

[2021-04-07 16:10] jonahbohlmann opened #286 "Gluster-Block and iSCSI issue with LUN"
Hello,

I am new to gluster and also gluster-block, and also I have no idea if this is a bug or just an issue on my side. I try to explain with all needed details and maybe someone can tell me if this is the right place, or I need to move it to some other place.

**Content of post:**
- Introduction
- Information
- The issue

**Introduction**
I have two gluster clusters. One for production and one

[2021-04-07 17:04] jonahbohlmann commented on #286
The issue could be solved.

I moved from /etc/target/backup/* a file to /etc/target/saveconfig.json.

In the current "saveconfig.json" was no "lun" entry. I was able to recover the backup config file with the lun entry:

[code]

Main question is the same: why are the luns removed from the config? Can this happen again? In logs, I saw that saveconfig is something generated. From where do the servic

[2021-04-07 17:56] jonahbohlmann commented on #286
I am not a C developer, so it is hard for me to understand the code. But I think the place where the config is generated is this part:
https://github.com/gluster/gluster-block/blob/4f994e3cfa440d9dae1317a1d2b03ed994a03ef4/rpc/block_genconfig.c#L65

But I don't understand where the data is coming from and why it is missing for the environment.

Also, I saw that sometimes the config will be regenera

[2021-04-08 19:10] jonahbohlmann commented on #285
Good question. What is about this project?

[2021-05-20 12:23] Flavio2005 opened #287 "Failed to start gluster-blockd.service: Unit gluster-block-target.service has a bad unit file setting"
Hello,
I am new to gluster 9 and also gluster-block. I have no idea if this is a bug or just an issue on my side.
My general goal is to build a volume to be exposed in iSCSI in HA.
The failover management will entrust it to the double connection that ESXi allows to make.

With three hosts, Fedora 34, fresh from installation, following the list of commands below, I created three nodes: two in repli

[2021-05-21 08:35] lxbsz commented on #287
It seems the `gluster-block-target.service`'s setting is not compatible with the Fedora 34:

`# systemctl start gluster-blockd Failed to start gluster-blockd.service: Unit gluster-block-target.service has a bad unit file setting. See system logs and 'systemctl status gluster-blockd.service' for details.`

I have never run this on Fedora34 yet.
@pkalever  Any idea ?

[2021-05-21 10:44] Flavio2005 commented on #287
Dear @lxbsz
based on your experiences, which operating system / release, would you choose for a fresh Gluster 9.2 installation with gluster-block / targetcli-fb / tcmu-runner?

[2021-06-08 17:53] jonahbohlmann commented on #286
No idea? I have quite often the issue, that now the "luns" part are removed from saveconfig.json.

I now have to restore the saveconfig.json after everytime I restart "gluster-blockd" service. Why? What happend there?

Please support!

Thanks.

[2021-06-10 11:34] pkalever commented on #286
@jonahbohlmann  the project is considered to be in maintenance-only status. I will consider adding this in the ReadMe doc soon. Please also expect slow replies to issues.

We recommend replica 3 volume with group profile applied on it. Helpful command: # gluster vol set <block-hosting-volume> group gluster-block

You can refer to this as storage objects missing, these are backstores under user:glf

[2021-06-10 11:38] pkalever commented on #287
Just using the support version of gluster is good. But I don't think that is related to this issue here.

BTW - did you fix this issue or are you still waiting on help?

[2021-06-10 11:39] pkalever commented on #285
the project is considered to be in maintenance-only status. I will consider adding this in the ReadMe doc soon.

[2021-06-10 11:41] pkalever commented on #283
The project is considered to be in maintenance-only status. I will consider adding this in the ReadMe doc soon. Hence I think supporting it is not possible.

Thanks!

[2021-06-10 11:41] #283 closed

[2021-06-10 11:42] pkalever commented on #282
Hope you fixed it by now, feel free to reopen as required.

[2021-06-10 11:42] #282 closed

[2021-06-10 11:44] pkalever commented on #7
Won't Fix. Closing this now.

[2021-06-10 11:44] #7 closed

[2021-06-10 11:45] pkalever commented on #38
Closing this now. Feel free to open.

[2021-06-10 11:45] #38 closed

[2021-06-10 11:46] pkalever commented on #41
Won't Fix, closing now.

[2021-06-10 11:46] #41 closed

[2021-06-10 11:46] pkalever commented on #42
Won't Fix, closing now.

[2021-06-10 11:46] #42 closed

[2021-06-10 11:47] pkalever commented on #53
Won't Fix, closing now.

[2021-06-10 11:47] #53 closed

[2021-06-10 11:47] pkalever commented on #59
Won't Fix, closing now.

[2021-06-10 11:47] #59 closed

[2021-06-10 11:47] pkalever commented on #67
Won't Fix, closing now.

[2021-06-10 11:47] #67 closed

[2021-06-10 11:48] pkalever commented on #106
Won't Fix, closing now.

[2021-06-10 11:48] #106 closed

[2021-06-10 11:48] pkalever commented on #166
Won't Fix, closing now.

[2021-06-10 11:48] #166 closed

[2021-06-10 11:48] pkalever commented on #167
Won't Fix, closing now.

[2021-06-10 11:48] #167 closed

[2021-06-10 11:49] pkalever commented on #219
Won't Fix, closing now.

[2021-06-10 11:49] #219 closed

[2021-06-10 11:49] pkalever commented on #260
Closing now.

[2021-06-10 11:49] #260 closed

[2021-06-10 11:50] pkalever commented on #276
Closing this now.

[2021-06-10 11:50] #276 closed

[2021-06-10 12:44] Flavio2005 commented on #287
I have not solved
That's why I was looking for direct contact
I also signed up on your site and wrote to you but, I have not had any
feedback :-(

In these days I am also without connectivity but as soon as they fix it for
me, I will try and post what I launch, what I get in response
thanks for your attention
Flavio G

Il giorno gio 10 giu 2021 alle ore 13:39 Prasanna Kumar Kalever <
***@***.***>

[2021-06-10 13:30] pkalever commented on #287
@Flavio2005 By now you must be knowing that the project is in a maintenance-only state.

The logs you pointed didn't give any lead. To understand the issue better, I will consider reproducing this on fedora 34, but please expect that to take some time (maybe by next week)

Thanks!

[2021-06-10 21:46] jonahbohlmann commented on #286
Hello @pkalever,

thank you so much for you support and the detailed explanation. I got a better overview in how the stuff works.

I was able to create the RPM Package with version 0.5.1 and successfully installed the version on our test environment and production.
At this moment, I see no more issues regarding the missing LUNs. So yes, the version upgrade and/or applying the profile fixed the iss

[2021-07-05 06:38] pkalever commented on #285
We have added the details to the readme now, closing this. Thanks!

[2021-07-05 06:38] #285 closed

[2021-07-05 06:39] pkalever commented on #286
Assuming the issues are fixed, Closing this now, please feel free to open a new issue as needed.

Thanks!

[2021-07-05 06:39] #286 closed

[2021-07-08 20:42] jonahbohlmann opened #289 "Modify Size failed"
Hello,

today I tried to extend the volume size from 10GB to 20GB.

So I used:
[code]

Which failed, as you can also see here:

[code]

On all other nodes, tcmu-runner will not start since the modification:
[code]

Any idea why this happend and what I can do?

A reload and run the command again does not help. Also restarting the nodes not work.

Thanks!

[2021-07-08 21:45] jonahbohlmann commented on #289
Fixed by updating **tcmu-runner** to version **1.5.4.3** and rerun the modify command.

[2022-03-30 10:26] #289 closed, assigned to nobody

[2022-06-29 11:15] rudraitkelwar opened #290 "rpc/rpc.h file missing"
![rpc_error](https://user-images.githubusercontent.com/56756594/176423382-64248e56-3ddd-4bb8-9504-371d65ea9a92.PNG)

While making the code in Gluster-Block faced this issue
using Ubuntu 22.04
all other dependencies are installed.

rpc/rpc.h file is missing

[2022-06-29 12:41] aravindavk commented on #290
Working for me in Ubuntu 20.04 after installing `libtirpc-dev`

[2022-06-29 12:57] rudraitkelwar commented on #287
Hi any update on this facing same issue
using ubuntu 22.04

![sys](https://user-images.githubusercontent.com/56756594/176441544-e9885441-3684-47b9-bfc0-20739eabefe8.PNG)

[2022-06-29 13:07] rudraitkelwar commented on #290
Yeah but service is not loading getting the below error

![sys](https://user-images.githubusercontent.com/56756594/176443698-da42fd81-454c-47b0-b485-5063dd598332.PNG)

[2022-06-30 07:32] rudraitkelwar commented on #290
The output i got while installation
`root@sv06:/home/user/gluster-block# ./autogen.sh && ./configure && make -j install
autogen.sh: start libtoolize to get ltmain.sh
libtoolize: putting auxiliary files in '.'.
libtoolize: copying file './ltmain.sh'
libtoolize: putting macros in AC_CONFIG_MACRO_DIRS, 'm4'.
libtoolize: copying file 'm4/libtool.m4'
libtoolize: copying file 'm4/ltoptions.m4'
libtooliz